/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #283643;
}

#wrapper {
    width: 100%;
    background: #283643;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 640px;
    background: #f3f3f3;
}

textarea.form-control {
    resize: vertical;
}

#page-wrapper hr {
    margin-top: 0;
}

#page-inner {
    width: 100%;
    margin: 0 20px 10px 0px;
    background-color: transparent;
    padding: 10px;
    min-height: 200px;
}

.text-center {
    text-align: center;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #000;
}

h4 {
    padding-top: 10px;
}

.form-horizontal .control-label {
    font-weight: normal;
}

#searchDiv {
    width: 400px;
    margin: 0 15px 15px 0;
}

#searchDiv input,
#searchDiv select {
    width: 46%;
    float: left;
    margin: 0 2%;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/*
.panel {
    border-radius: 0px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
*/

.list-group a {
    cursor: pointer;
}

.navbar-side .list-group li .accordion-toggle {
    padding: 0;
}

.navbar-side .list-group li .panel-group {
    margin: 0;
}

.navbar-side .list-group li .panel-group .panel-body {
    border: 0;
    padding: 0;
}

.navbar-side .list-group li .panel-group a {
    padding-left: 60px;
    cursor: pointer;
    background: #283643;
    border: 0;
}

.navbar-side .list-group li .panel-group a i {
    left: 35px;
}

.navbar-side .nav > li > a > i {
    color: #fff;
    padding: 8px;
    width: 30px;
    text-align: center;
}

.navbar-side .list-group li a {
    position: relative;
    padding-left: 34px;
    text-transform: uppercase;
}

.navbar-side .list-group li a i {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px;
}

.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 260px;
    top: 80px;
}

#page-wrapper {
    position: relative;
    padding-top: 50px !important;
}

.top-navbar .nav > li > a:hover,
.top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #2497BA;
    color: #fff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #18A88B;
    border-color: #18A88B;
}

.breadcrumb {
    list-style: none;
    border-radius: 0;
    border: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 13px;
}

.dropdown-menu>li>a i {
    color: #8b2438;
}

.text-muted {
    color: #FB5651;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #8b2438;
    border-radius: 10px;
}

.modal-title {
    padding-top: 0;
    line-height: 18px;
}

.ml5 {
    margin-left: 5px;
}

.dn {
    display: none;
}

h1 .btn {
    margin-top: -8px;
}

.seeSs {
    left: 90% !important;
    right: 15px;
}


/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/

.dashboardPage .panel.panel-primary {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.dashboardPage .panel.panel-primary h4 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboardPage .panel.panel-primary a {
    display: inline-block;
}

.dashboardPage .panel.panel-primary {
    margin: 15px 0;
}

.breadcrumb {
    margin-bottom: 5px;
    background: none;
    padding: 5px;
}

.page-header {
    padding-bottom: 0;
    margin: 10px 0;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    float: left;
    width: 100%;
}

.page-header small {
    margin-left: 6px;
    font-size: 15px;
}

.page-header span {
    padding: 4px 6px;
    vertical-align: middle;
    color: #666;
}

.tabClass .tab-content {
    padding: 20px;
}

.panel-left {
    width: 90px;
    height: 90px;
    background: #8b2438;
    border: 2px solid white;
    border-radius: 100%;
    overflow: hidden;
    margin: 14px;
}

.panel-left .fa-5x {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.35);
    padding: 22px 0;
    margin-bottom: 30px;
}

.panel-right {
    width: 65%;
    height: 124px;
    background: transparent;
    margin-bottom: 0;
    color: #2B2E33;
    background-color: #fff;
}

.panel-right h3 {
    font-size: 50px;
    padding: 18px 10px 13px;
    color: #8A8A8A;
}

.panel-back {
    background-color: #fff;
}

.panel-default {
    border-color: #ECECEC;
}

.panel-default > .panel-heading {
    color: #000;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
}

.panel-heading {
    padding: 15px 15px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.jumbotron,
.well {
    background: #fff;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.brown {
    background-color: #8b2438;
    color: #fff;
}

.gray {
    background: #7f8c8d;
    color: #fff;
}

.cna_primary {
    background: #8b2438;
    color: #fff;
}

.green {
    background-color: #9DB54C;
    color: #fff;
}

.green1 {
    background-color: #009688;
    color: #fff;
}

.blue {
    background-color: #63A3DF;
    color: #fff
}

.red {
    background-color: #FB5651;
    color: #fff;
}

.brown {
    background-color: #E6A548;
    color: #fff;
}

.back-footer-red {
    background-color: #F0433D;
    color: #fff;
    border-top: 0px solid #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.main-temp-back .text-temp {
    font-size: 40px;
}

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2EA7EB;
    color: #fff;
}

.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}


/*CHAT PANEL*/


/*Charts*/

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
    margin-left: 90px;
}

.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}

.chat-img>img {
    margin-left: 20px;
}

footer p {
    font-size: 14px;
}

uib-accordion .panel-title {
    padding-top: 0;
}


/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/

.navbarbrand {
    margin-left: 15px;
    display: inline-block;
}

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

.top-navbar .navbar-brand {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    background: #283643;
}

.navbar-brand b {
    color: #4BD28C;
}

.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-right: 15px;
    color: #FFFFFF;
}

.top-navbar .nav > li > a:hover,
.top-navbar .nav > li > a:focus {
    text-decoration: none;
    color: #319DB5 !important;
    background: transparent;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu > li > a:hover,
.top-navbar .dropdown-menu > li > a:focus {
    color: #225081;
    background: none;
}

.dropdown-tasks {
    width: 255px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.dropdown-tasks > li > a {
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu {
    background-color: #8b2438 !important;
    color: #fff !important;
}

.active-menu i {
    color: #fff !important;
}

.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #B5B5B5;
    background: transparent;
    text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
    background: #17191B;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: rgb(40, 54, 67);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.top-navbar {
    background: #8b2438;
    border-bottom: none;
}

.top-navbar .nav > li > a > i {
    margin-right: 2px;
    font-size: 16px;
}

.top-navbar .navbar-brand:hover {
    color: #8b2438;
    background-color: rgb(43, 46, 51);
}

.dropdown-user li {
    margin: 8px 0;
}


/*
.navbar-default {
    border: 0px solid black;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*/

.navbar-header {
    background: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #283643;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav > li > a > i {
    margin-right: 10px;
    color: #FFF;
}

.dropdown-menu>li>a>strong {
    color: #8b2438;
    padding: 5px 0;
    display: inline-block;
    font-weight: 500;
}

#sideNav {
    position: absolute;
    right: -23px;
    z-index: 9;
    background-color: #CFCECE;
    padding: 8px 9px;
    top: -15px;
    color: #283643;
    cursor: pointer;
}

ul.dropdown-menu.dropdown-messages li a div {
    padding: 2px 0;
}


/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.phone-box select {
    width: 55px;
    display: inline-block;
}

.phone-box input {
    display: inline-block;
}

.w100 {
    width: 100px;
}

.w141 {
    width: 141px;
}

.w80 {
    width: 80px;
}

.w70 {
    width: 70px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w40 {
    width: 40px;
}

.w250 {
    width: 250px;
}

.w500 {
    width: 500px;
}

.mt-10 {
    margin-top: -6px;
}

.bdrs100 {
    border-radius: 100px;
}

.panel-heading input {
    font-weight: normal;
}

.sidebar-collapse .panel {
    border-radius: 0;
    border: 0;
    background: none;
}

.sidebar-collapse .panel-title,
.sidebar-collapse .panel-heading {
    padding: 0;
    background: none;
    border: 0;
}

.sidebar-collapse .panel-title a {
    padding: 14px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar-collapse .list-group a {
    padding: 14px;
    display: block;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}


/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 240px;
        padding: 15px 30px;
        /*               min-height: 1200px;*/
    }
    .navbar-side {
        z-index: 1;
        width: 240px;
    }
    .navbar {
        border-radius: 0px;
    }
}

@media(max-width:480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
    .panel-left {
        width: 85px;
        height: 85px;
        background: #8b2438;
        border: 2px solid white;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}

.dataTables_length,
.dataTables_paginate {
    display: none;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dataTables_filter label input {
    border-radius: 100px;
    padding: 5px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #aaa;
    outline: 0;
    font-weight: normal;
}

.eventnamealign {
    margin-top: -26px;
    margin-left: 37px;
}

.noBorder {
    border: 0px;
    box-shadow: none;
    cursor: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.noBorder:disabled {
    background: rgba(0, 0, 0, 0.1) !important;
    cursor: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.editalign {
    float: right;
    /*    margin-top: -20px;*/
    margin-right: 18px;
}

.req {
    color: #f00;
    font-weight: bold;
}

.exportBtn {
    margin-right: 12px;
}

.createEvtbtn {
    margin-right: -422px;
}

.createEvtSvbtn {
    margin-right: 9px;
}

.travecheck {
    padding: 10px;
    width: 100%;
    /*  height: 190px; */
    font-weight: bold;
}

.travecheck1 {
    padding: 10px;
    /*  width:50%;*/
    height: 190px;
    font-weight: bold;
}

.btn-courseAdd {
    margin-right: -27px;
    margin-top: -34px;
}

.checkboxAlignM {
    margin-top: 8px;
}

.courseChk {
    margin-top: -22px;
    margin-left: 23px;
}

.sortTable {
    cursor: pointer;
    color: #337ab7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fa-check-color {
    color: #3291DC;
    font-size: 20px;
}

.addBtn {
    margin-left: -53px;
    margin-top: 16px;
}

.tbleOverflow {
    overflow-x: scroll;
}

.activityBtn {
  
    margin-top: 14px;
}

.createappint {
    margin-left: 287px;
    width: 100px;
    margin-top: -27px;
}

.createaptfield {
    margin-left: 370px;
    width: 100px !important;
    margin-top: -43px;
}

.createaptdate {
    margin-left: 15px;
    width: 100px !important;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}


/*.grid {
  width: 500px;
  height: 250px;
}*/

.courseAutodropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 296px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.courseAutodropdown:hover .dropdown-content {
    display: block;
}

.hideConId .conId {
    display: none;
}

.configurationPage h4 {
    margin-top: 0;
    padding-top: 5px;
}

.eventCreatePage .accordion-toggle {
    background: #f3f3f3;
}

.dropdown-multiselect .dropdown-toggle {
    width: 253px !important;
    margin-left: 13px !important;
    border-radius: 4px !important;
    text-align: left !important;
}

/*.dropdown-menu {
    margin-left: 14px !important;
    width: 253px !important;
}*/

.caret {
    margin-top: 8px !important;
}

.table thead {
    background: #EEE;
}

.table thead td {
    padding: 5px !important;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px;
}