/* ########## Styles starts ########## */

body {
    background: #F0F0E8;
    position: relative;
}

.db {
    display: block !important;
}

.dn {
    display: none !important;
}

.dib {
    display: inline-block !important;
}
.ml100{
    margin-left: 100px !important;
}
/*
.container {
    width: 1000px !important;
}
*/

.table>tbody>tr>th {
    font-size: 14px;
    background: #eee;
    text-transform: uppercase;
}

.modalHeight .table>tbody>tr>th:last-child,
.modalHeight .table>tbody>tr>td:last-child,
.modalHeight .table>tbody>tr>th:first-child,
.modalHeight .table>tbody>tr>td:first-child {
    width: 200px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}
.text-bold{
    font-weight: bold;
}
.m10 {
    margin: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.p10 {
    padding: 10px;
}

.btn-gray {
    background: #ccc;
    color: #000;
}

.btn-gray:hover {
    border-color: #999;
}

.btn-primary,
.bg-primary,
.btn-primary:focus {
    background: #0A52AB;
}

.btn-primary:hover {
    background: #4C94EC;
    border-color: #4C94EC;
}

a,
.text-primary {
    color: #0A52AB;
}

input.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

select {
    background: #fff !important;
    border-radius: 0 !important;
}


/* ########## Login page starts ########## */

.mainNav {
    background: #8B2438;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 950;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.mainNav .navbar-default {
    background: #8B2438;
    border-radius: 0;
    border: 0;
    margin: 0;
}

.mainNav .navbar-default a {
    color: #fff !important;
}

.mainNav .navbar-brand img {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    padding: 5px 15px;
}

.mainNav p {
    margin: 15px;
    float: left;
    color: #fff;
    line-height: 20px;
/*    padding-top: 12px;*/
}

.loginBody .panel {
    width: 400px;
    margin: 5% auto;
    padding: 15px 25px;
}

.loginBody .panel form {
    width: 80%;
    margin: 10px auto 20px;
}

.loginBody .panel label {
    text-transform: uppercase;
    font-weight: normal;
}

.loginBody .panel .btn {
    margin-top: 25px;
}

.form-control {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer {
/*
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
*/
    background: #444;
    padding: 5px;
}

.footer p {
    color: #fff;
    margin: 0;
    font-size: 13px;
}

.footer p a {
    color: #fff;
    margin: 0 5px;
}

.footfix {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.table>tbody>tr>th {
    font-size: 12px;
    vertical-align: middle;
}


/* ########## nav Styles ########## */

.navfix {
    padding-top: 50px;
}

.mainBody {
    padding-top: 60px !important;
}

.mainBody .container {
    /*    background: #fff;*/
    padding-top: 90px;
    border-radius: 2px;
}

.mainBody .container .panel {
    padding: 10px;
    margin: 0 0 15px 0;
}

.dashboard .container {
    padding: 20px;
    text-align: center;
}

.dashboard .container .panel {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 15px;
}

.angucomplete-title {
    margin-right: 4px;
}
.grid1464361649603 .ui-grid-coluiGrid-00R6{
	min-width: 45px;
}

.signOut,
.toggleDashboard {
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
}
.toggleheader {
	color: #fff;
	text-align: center;
	margin-right: 20%;
}

.signOut:hover,
.signOut:active,
.toggleDashboard:hover,
.toggleDashboard:active {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.signOut i {
    font-size: 18px;
}

.signOut {
    position: absolute;
    top: 0;
    right: 0;
}

.toggleDashboard {
    position: absolute;
    top: 0;
    right: 48px;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

#uploadNew .modal-body {
    padding: 15px 10%;
}

.pieChart {
    width: 250px !important;
    text-align: center;
    margin: 0 auto;
}


/* ########## Admin Dashboard Styles ########## */
.adminDashBody{
    padding: 20px 15px 20px;
}
.adminDashBody .tab-content {
    padding: 0;
}

.adminDashBody .container {
    padding-top: 0;
}

.table .readmore {
    margin-bottom: 10px;
}

.fz12 {
    font-size: 12px;
}

.nav-tabs>li>a {
    text-transform: uppercase;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #8b2438;
    color: #fff;
}

.nav-tabs>li>a:hover {
    border-bottom: 1px solid #8B2438;
}

.nav-tabs {
    border-bottom: 1px solid #8B2438;
    margin-bottom: 15px;
}

.table tr td select.form-control {
    width: 50%;
}

.modal-body .table tr td select.form-control {
    width: 100%;
}

.table td select {
    float: left;
}

.table td a.btn {
    float: left;
    margin-left: 15px;
}

td .checkbox,
th .checkbox {
    margin: 0;
}


/* ########## Dashboard Styles ########## */

.w40 {
    width: 40px;
    display: block;
}
.w120{
    min-width: 120px;
    margin-right: 1%;
}

.userDashBody {
    /*    background: #fff;*/
    padding: 20px 15px 20px;
}

.userDashBody .mainfilter p {
    display: inline-block;
    /*    margin-left: 100px;*/
}

.userDashBody .w40 {
    position: relative;
}

.userDashBody .btn-danger {
/*    position: absolute;*/
}
.userDashBody .panel{
    margin: 10px 0;
    min-width: 1200px;
}
.mainfilter {
    width: 70%;
    margin: 0;
    position: relative;
}

.userDashBody .sBox {
    margin-left: 100px;
}
.userDashBody .deleteDownloadbtn{
    position: absolute;
    left: 0;
    width: 100px;
}
.userDashBody .deleteDownloadbtn a{
    margin-right: 10px;
}
.sBox {
    position: relative;
    display: inline-block;
}

.sBox i {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.6;
}

.sBox input {
    border-radius: 100px;
    width: 200px;
    padding-left: 30px;
    background: rgba(240, 240, 232, 1);
}

.filterCba{
    display: inline-block;
    width: 250px;
}
.filterCba p{
    float: left;
    margin-top: 5px;
}
.pane-btn .filterCba input{
    width: 48%;
    display: inline-block;
    
    margin-right: 1%;
}

.mainfilter select,
.mainfilter input {
    float: left;
    width: 150px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 0 !important;
}

.mainfilter a,
.mainfilter .ng-invalid {
    display: inline-block;
}

.mainfilter p {
    margin: 7px;
    float: left;
}

.mainBody .panel-title {
    /*    position: absolute;*/
    padding: 10px;
    margin: 0;
}

.panel {
    margin-bottom: 5px;
    border: 1px solid #E0E0E0;
}

.pane-btn {
    width: 450px;
}

.pane-btn input {
    width: 40%;
}

.pane-btn input,
.pane-btn button {
    float: left;
    margin-right: 5px;
}

p {
    margin: 0 0 6px;
}

.reportDet {
    margin-left: 20px;
}

.reportDet div {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

p.we220 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.reportDet div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.reportDet div p span {
    margin-right: 5px;
    display: inline-block;
}

.reportDet div p span {
    font-weight: normal;
}

.reportBody {
    padding: 20px 15px 20px;
}

.modal-header p {
    margin-right: 25px;
}

.modal-header p.text-warning {
    color: #f0ad4e;
}

.modal-header p.text-success {
    color: #0DD011;
}

.modal-header p:before {
    width: 10px;
    height: 10px;
    content: '';
    display: inline-block;
    margin-right: 5px;
    border-radius: 100px;
}

.modal-header p.text-warning:before {
    background: #f0ad4e;
}

.modal-header p.text-success:before {
    background: #0DD011;
}

.modalHeight {
    height: 600px;
    overflow-y: scroll;
}

.input-group-addon {
    border-radius: 0;
}

.cal-pos {
    position: relative;
}

.cal-pos i.fa-calendar {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -7px;
    opacity: 0.5;
}

@media (max-height:800px) {
    .modalHeight {
        padding: 10px 15px;
        overflow-y: scroll;
        height: 440px;
    }
}

.assignUser {
    padding: 10px 15px;
}

.assignUser .form-horizontal {
    width: 75%;
    margin: 0 auto;
}

.adminDashBody .ui-grid {
    margin-top: 15px;
}

.addARule {
    width: 100% !important;
    border: 1px dashed #aaa;
    padding: 10px 15px;
    margin-top: 15px !important;
}


/* ########## Styles ########## */

#createMapping form p {
    margin: 0;
    text-transform: uppercase;
}

#updateMapping form p {
    margin: 0;
    text-transform: uppercase;
}

#createMapping .col-md-4 {
    margin: 5px 0;
}

#enrichModal .modal-body {
    padding: 15px 10%;
}

.table tr td p {
    margin: 6px 0;
}


/* ########## Styles ########## */

.datepicker td span {
    float: none;
    display: inline-block;
}

th .checkbox input[type=checkbox],
td .checkbox input[type=checkbox] {
    margin-left: -16px;
}

.stateData {
    text-align: center;
    margin: 0 0 15px;
    border: 0 !important;
}

.stateData li {
    border: 0 !important;
}

.stateData li a {
    padding: 5px 5px 20px !important;
    width: 150px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    background: none;
    border: 0;
}

.stateData li:after {
    width: 100%;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    bottom: 8px;
    z-index: 0;
    border-bottom: 2px dashed #ddd;
}

.stateData li:before {
    width: 16px;
    height: 16px;
    background: #aaa;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    border-radius: 100px;
    z-index: 5;
}

.stateData li.act:before {
    background: #5cb85c;
}

.stateData li.act:after {
    border-bottom: 2px solid #5cb85c;
}

.stateData li:first-child:after {
    display: none;
}

.stateData .active a,
.stateData li a:hover {
    background: none !important;
    color: #000 !important;
    border: 0 !important;
}

.stateData li a:hover {
    border: 0;
}


/* ########## Styles ########## */

.nav-tabs li a span {
    display: inline-block;
    background: #fff;
    margin: 0 0 0 5px;
    padding: 2px 5px;
    line-height: 11px;
    font-size: 10px;
    color: #8b2438;
    border: 1px solid #8b2438;
    border-radius: 2px;
    min-height: 17px;
    min-width: 24px;
    text-align: center;
    vertical-align: middle;
}

.nav>li>a {
    padding: 5px 15px;
}

.nav-center {
    text-align: center;
    margin-bottom: 15px;
}

.nav>li {
    float: none;
    display: inline-block;
}

.navbar-form {
    padding: 0;
}

section {
    min-height: 631px;
}

li.pull-right button.btn {
    margin-top: -10px !important;
}

.radioselect {
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
}

textarea {
    resize: vertical;
}


/* ########## drag and sortable Styles ########## */

.as-sortable-item {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 0;
    border: 0;
    margin-bottom: 10px;
}

.as-sortable-item .panel-group {
    margin: 0;
}

uib-accordion .panel-group .panel-heading {
    padding: 0;
}

uib-accordion .panel-group .panel-heading a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

/*
uib-accordion .panel-collapse .panel-body {
    padding: 0;
}
*/


/* ########## ui grid custom Styles ########## */

.ui-grid-row:hover.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row:hover.ui-grid-row:nth-child(even) .ui-grid-cell {
    background: #e2e2e2;
}

.ui-grid-cell-focus {
    background: #D4D4D4;
    color: #000;
}

.ui-grid-row-saving .ui-grid-cell {
    color: #4C94EC !important;
}

.ui-grid-top-panel {
    background: #eee;
}

.ui-grid-pager-panel:after {
    content: '';
    clear: both;
    display: block;
}

.ui-grid-disable-selection,
.ui-grid-selection-row-header-buttons {
    display: table-cell;
    opacity: 0.5;
}


.ui-grid-icon-ok:before{
    opacity: 0;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
    background: rgba(91, 192, 222, 0.2);
}


/*
.ui-grid-row-header-cell i.ui-grid-icon-plus-squared{
    display: none;
}
*/

.ui-grid-icon-ok.ui-grid-all-selected:before{
    opacity: 1;
    line-height: 20px;
}
.ui-grid-cell-contents{
/*    padding-bottom: 5px;*/
    min-height: 27px;
}
.ui-grid-icon-ok.ui-grid-row-selected:before{
    opacity: 1;
    vertical-align: middle;
    line-height: 18px;
    height: 20px;
}
.ui-grid-cell-contents{
    position: relative;
    height: 27px;
}

.ui-grid-cell-contents .ui-grid-icon-ok:before{
    font-size: 12px;
    margin-left: 3px;
}
.ui-grid-cell-contents .ui-grid-icon-ok:after{
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0,0,0,0.8);
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 3px;
/*    background: #fff;*/
    z-index: 0;
}

.toggle-link-yellow {
    cursor: pointer;
}

.ui-grid-canvas {
    height: 100% !important;
}

.ui-grid {
    border: 0;
    margin: 10px 0 20px;
    min-height: 450px;
}

.ui-grid-header-cell {
    font-size: 12px;
}

.ui-grid-header-cell-label {
    text-transform: uppercase;
}

.ui-grid-canvas {
    padding-top: 0;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child,
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border-color: #d4d4d4;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    border-bottom: 0;
}

#reportGridId .ng-scope .ng-binding {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-grid-cell .ng-scope .ng-binding {
    padding: 5px 7px;
    display: block;
    margin: 0;
}

.ui-grid-render-container-body .ui-grid-header-canvas {
    min-height: 25px;
}

.dw-loading.dw-loading-overlay {
    z-index: 900;
}


/* ########## admin dashboard Styles ########## */

.breadcrumb {
    float: left;
    margin: 0 0 5px;
    background: none;
}
.duplicateRecordsPop{
    
}
.duplicateRecordsPop .ui-grid {
    height: 250px;
    min-height: 250px;
}
.duplicateRecordsPop .ui-grid-viewport{
    height: 250px;
}

/* ########## Dashboard countIt Styles ########## */

.container .countIt .panel {
    width: 200px;
    min-width: 200px;
    padding: 15px;
    /*    background: #444;*/
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
a.panel{
    text-decoration: none;
    cursor: pointer;
}

.countIt .panel h3 {
    margin: 0;
    text-align: right;
    min-height: 26px;
}

.countIt .panel p {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.countIt .panel:hover {
    /*    background: #8B2438;*/
    color: #222;
}

.panel.pan1 {
    background: #8ACEDF;
}

.panel.pan2 {
    background: #98DF8A;
}

.panel.pan3 {
    background: #DF8A8A;
}

.panel.pan4 {
    background: #8A8BDF;
}


/* ########## Responsive Styles ########## */

@media(max-width:990px) and (min-width:768px) {}

@media(max-width:767px) {}

@media(max-width:480px) {}


/* ########## Drag and drop CSS Styles ends ########## */

.toast-top-right {
    top: 60px;
}


/* ******************************************* */


/* Optional CSS, default style for ng-sortable */


/* ******************************************* */

.as-sortable-item,
.as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 2px;
}

.as-sortable-item {
    border: solid 1px darkgrey;
    background-color: #ffffff;
}

.as-sortable-item-handle {
    position: relative;
    padding: 8px 25px 8px 15px;
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.as-sortable-drag {
    opacity: .8;
}

.as-sortable-hidden {}


/* ************************************** */


/* Mandatory CSS required for ng-sortable */


/* ************************************** */

.as-sortable-item,
.as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    background: #f2f2f2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    border-color: #ddd;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.as-sortable-dragging .as-sortable-item {
    background: #8B2438;
    color: #fff;
}

.sortable-row {
    left: 15px !important;
}

.sortable-row .fa-ellipsis-v {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
}

.modal-body .angucomplete-dropdown {
    height: 160px;
}

.modal-body .modal-title {
    border-bottom: 1px solid #ccc;
    margin: 0 -15px;
    padding: 5px 15px 15px;
    font-size: 18px;
}


/* ########## Styles ends ########## */


/*CBA rule styles*/

.loader {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1500;
}

.pstLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -50px;
}

.loader .cell {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.loader .cell .card {
    width: 100%;
    margin-top: 28px;
    text-align: center;
    vertical-align: middle;
}

.pulse-loader:not(:required) {
    display: inline-block;
    width: 40px;
    height: 40px;
    -moz-animation: pulse-loader 0.7s linear infinite alternate;
    -webkit-animation: pulse-loader 0.7s linear infinite alternate;
    animation: pulse-loader 0.7s linear infinite alternate;
    border: 2px solid #8B2438;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 50px;
}

@-moz-keyframes pulse-loader {
    0% {
        -moz-box-shadow: #8B2438 0 0 0px 20px;
        box-shadow: #8B2438 0 0 0px 20px;
    }
    40% {
        -moz-box-shadow: none;
        box-shadow: none;
    }
    100% {
        -moz-box-shadow: #8B2438 0 0 0px 25px inset;
        box-shadow: #8B2438 0 0 0px 25px inset;
    }
}

@-webkit-keyframes pulse-loader {
    0% {
        -webkit-box-shadow: #8B2438 0 0 0px 20px;
        box-shadow: #8B2438 0 0 0px 20px;
    }
    40% {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    100% {
        -webkit-box-shadow: #8B2438 0 0 0px 25px inset;
        box-shadow: #8B2438 0 0 0px 25px inset;
    }
}

@keyframes pulse-loader {
    0% {
        -moz-box-shadow: #8B2438 0 0 0px 20px;
        -webkit-box-shadow: #8B2438 0 0 0px 20px;
        box-shadow: #8B2438 0 0 0px 20px;
    }
    40% {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    100% {
        -moz-box-shadow: #8B2438 0 0 0px 25px inset;
        -webkit-box-shadow: #8B2438 0 0 0px 25px inset;
        box-shadow: #8B2438 0 0 0px 25px inset;
    }
}


/* ************************************** 
Form Validation Css 



************************************** */

.nextPrev {
    padding: 0 5px;
}

.nextPrev .btn-primary:active,
.nextPrev .btn-primary {
    background: #ccc;
    border: 0;
    margin: 0 5px;
    padding: 2px 10px;
}

.nextPrev .btn i {
    color: #888;
}

.nextPrev p {
    margin-top: 5px;
}

.modalHeight table tr td:first-child .ng-binding {
    text-transform: uppercase;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: inline-block;
    margin: 3px 0 0;
}

.col-sm-4 .form-group {
    margin: 0;
}

.activityStatus:link:after {
    background: #ddd !important;
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -14px;
    border-radius: 100px;
}

@media(min-width:1100px) and (max-width:1300px)  {
    .sBox input{
        width: 180px;
    }
    .mainfilter {
        width: 78%;
    }
}

@media(max-width:1200px) {
    .sBox input{
        width: 160px;
    }
    .mainfilter select, .mainfilter input{
        width: 130px;
    }
}

@media(max-width:1200px) {
    .mainNav .navbar-default,
    .mainBody,
    .mainNav,
    .footer,
    section {
        min-width: 1000px;
        width: 100%;
    }
    .footfix {
        position: absolute !important;
        /*        min-width: 1000px;*/
        width: 100%;
    }
    .mainfilter {
        width: 65%;
    }
    .mainfilter select,
    .mainfilter input {
        width: 120px;
    }
    .sBox input {
        width: 186px;
    }
    .reportDet {
        width: 72%;
    }
    .nav>li>a {
        padding: 5px 10px;
    }
}

.control-label, .toast-message {
    font-weight: bold !important;
}

.notice{
  color: #32A5E2 !important; 
  margin: 5px 0 0;
}
.watermark {
    position: absolute;
    top : 50%;
    opacity: 0.25;
    font-size: 2em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
#duplicateSelectedGrid {
   height: 80px !important;
    min-height: 80px;
    margin-bottom: 35px;
}


#matchedSelectedGrid {
    height: 80px !important;
    min-height: 80px;
    margin-bottom: 35px;

}


#needUpdateSelectedGrid {
   height: 80px !important;
    min-height: 80px;
    margin-bottom: 35px;
}

.expired{
    color:red;
}

.ui-grid-expandable-buttons-cell i{
    color: blue;
    opacity: 0.5;
}


.action-class {
 color: green
  }



.subGrid{
	  width: 100%;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;
    margin-top:10px; 
}
.subGrid tr,.subGrid td,.subGrid th{
border-bottom: 1px solid #d4d4d4;
padding: 5px;
font-size: 13px;
}
.subGrid th {
	background: #fff;
}
.rule-green{
  color: green;
}
.rule-red{
  color: red;
}
.rule-orange{
  color: orange;
}

.ui-grid-cell-contents .ui-grid-icon-plus-squared{
    cursor: pointer;
}