<section class="adminDash">
    <div class="adminDashBody mainBody">
        <ol class="breadcrumb ml100">
            <li><a href="#/importDashboard">Dashboard</a></li>
            <li class="active">Admin</li>
        </ol>
        <div class="clearfix"></div>
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="" ng-click="selectTabItem(1)" aria-controls="allImportedtab" role="tab" data-toggle="tab">Users</a></li>
                        <li role="presentation"><a href="" ng-click="selectTabItem(2)" aria-controls="dupImportedtab" role="tab" data-toggle="tab">Facility Staff Assignment </a></li>
                        <li role="presentation"><a href="" ng-click="selectTabItem(3)" aria-controls="exceptImportedtab" role="tab" data-toggle="tab">Facility Reporting Information </a></li>
                    </ul>
                    <div role="tabpanel" class="tab-pane active" ng-if="isSelected==1">
                        <div class="pull-left">
                            <div class="sBox">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="search" class="form-control" ng-change="refreshDataUser(search)" placeholder="Search..." />
                            </div>
                        </div>
                        <div class="pull-right w40"><a href="" class="btn btn-danger pull-right" ng-click="deleteUser()" ng-if="enableUserDelete"><i class="fa fa-trash-o"></i></a></div>
                        <button class="btn btn-primary pull-right w120" ng-if="userWidthChanged=='changed'" ng-click="saveChangedWidth()">Save Changes</button>&nbsp&nbsp
                        <button class="btn btn-primary pull-right w120" ng-click="OpenUserModal()"><i class="fa fa-user"></i> {{ UserActionValue }}</button>
                        <div class="clearfix"></div>
                        <div dw-loading="userTab" dw-loading-options="{text:'Loading ...'}" ui-grid="filterUserGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid">
                            <div class="watermark" ng-show="!filterUserGrid.data.length">No data available</div>
                        </div>
                        <div class="nextPrev" ng-if="UserPagination.toIndex">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="UserPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="UserPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                            Page {{Userpresentpage}} Out of {{Usertotalpages}}
                            <select ng-change="UserPagination.loadSelCountPerPage(pageLimitValue)" ng-model='pageLimitValue'>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                            </select>
                            <p class="pull-right">{{UserPagination.fromIndex}} to {{UserPagination.toIndex}} items</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" ng-if="isSelected==2">
                        <div class="pull-left">
                            <div class="sBox">
                                <i class="fa fa-search"></i>
                                
                                <input type="text" ng-model="search" class="form-control" ng-change="refreshDataFacility(search)" placeholder="Search..." />
                            </div>
                        </div>
                        <div class="pull-right pane-btn">
                        <button class="btn btn-primary pull-right" ng-if="facilityStaffWidthChanged=='changed'" ng-click="saveChangedFacilityWidth()">Save Changes</button>
                            <button class="btn btn-primary pull-right" ng-click="OpenAssignModal()" ng-if="enableAssignBtn"><i class="fa fa-check-circle-o"></i> Assign</button>
                        </div>
                        <div class="clearfix"></div>
                        <div dw-loading="facilityTab" dw-loading-options="{text:'Loading ...'}" ui-grid="filterFacilityGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid">
                            <div class="watermark" ng-show="!filterFacilityGrid.data.length">No data available</div>
                        </div>
                        <div class="nextPrev" ng-if="FacilityPagination.toIndex">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="FacilityPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="FacilityPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                            Page {{Facilitypresentpage}} Out of {{Facilitytotalpages}}
                            <select ng-change="FacilityPagination.loadSelCountPerPage(pageLimitValue)" ng-model='pageLimitValue'>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                            </select>
                            <p class="pull-right">{{FacilityPagination.fromIndex}} to {{FacilityPagination.toIndex}} items</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" ng-if="isSelected==3">
                        <div class="pull-left">
                            <div class="sBox">
                                <i class="fa fa-search"></i>
                                 
                                <input type="text" ng-model="search" class="form-control" ng-change="refreshDataCba(search)" placeholder="Search..." />
                            </div>
                        </div>
                        <div class="pull-right pane-btn">
                            <!--<div class="filterCba">
                                <input type="text" class="form-control dib span2" uib-datepicker-popup="{{format}}" ng-model="cbaFromDate" is-open="cbaRuleFromCalenderpopup.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="cbaRuleFromCalender()" placeholder="From Date">
                                
                                <input type="text" class="form-control dib span2" uib-datepicker-popup="{{format}}" ng-model="cbaToDate" is-open="cbaRuleToCalenderpopup.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="cbaRuleToCalender()" placeholder="To Date" id="toDate" ng-change="FilterByToDate(cbaFromDate,cbaToDate)">
                            </div>-->
                            <button class="btn btn-primary pull-right" ng-if="cbaWidthChanged=='changed'" ng-click="saveChangedCbaWidth()">Save Changes</button>
                            <button class="btn btn-primary pull-right" ng-if="enableRuleCreateBtn" ng-click="OpenCBAModal()"><i class="fa fa-plus-square-o"></i> Create Rule</button>
                            <button class="btn btn-primary pull-right" ng-if="enableRuleUpdateBtn" ng-click="OpenCBAModal()"><i class="fa fa-plus-square-o"></i> View/Update Rule</button>
                        </div>
                        <div class="clearfix"></div>
                        <div dw-loading="cbaTab" dw-loading-options="{text:'Loading ...'}" ui-grid="filterCbaGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection  ui-grid-expandable class="grid">
                            <div class="watermark" ng-show="!filterCbaGrid.data.length">No data available</div>
                        </div>
                        <div class="nextPrev" ng-if="CBAPagination.toIndex">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="CBAPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="CBAPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                            Page {{CBApresentpage}} Out of {{CBAtotalpages}}
                            <select ng-change="CBAPagination.loadSelCountPerPage(pageLimitValue)" ng-model='pageLimitValue'>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                            </select>
                            <p class="pull-right">{{CBAPagination.fromIndex}} to {{CBAPagination.toIndex}} items</p>
                        </div>
                    </div>
                    <!-- Modal popup assign facility to selected user-->
                    <script type="text/ng-template" id="AssignUserModalContent.html">
                        <div dw-loading="AssignUserLoader" dw-loading-options="{text:'Loading ...'}" class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" ng-if="enableAssignBtn">Assign User</h4>
                            </div>
                            <div class="modal-body assignUser">
                                <form name="UserassignForm" class="form-horizontal p10">
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="control-label col-sm-4">User</label>
                                        <div class="col-sm-8">
                                            <select name="user" class="form-control" ng-model="selectedUser" ng-options="userList.username for userList in userList" required>
                                            </select>
                                            <p class="help-block" ng-if="UserassignForm.user.$error.required">User is required</p>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center">User will be Assigned to all the selected facility.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" type="button" ng-click="CloseAssignModal()">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="AssignToUser()"><i class="fa fa-check-circle-o"></i> Assign</button>
                            </div>
                        </div>
                    </script>
                    <!-- Modal popup assign user to selected facility ends here -->
                    <!-- modal popup for add new Rule in CBA -->
                    <script type="text/ng-template" id="CBARuleListModalContent.html">
                        <div dw-loading="Ruleloader" dw-loading-options="{text:'Loading....'}">
                            <div class="modal-body modalHeight">
                                <h4 class="modal-title" id="myModalLabel">Create Rule for <span style="color:green;">{{CBAfacilitySelectedName}}</span></h4>
                                <!-- <div class="btn btn-gray pull-right m10" data-toggle="tooltip" data-placement="top" title="Drag the list to sort for Priority"><i class="fa fa-info-circle"></i></div>-->
                                <button class="btn btn-primary pull-left m10" ng-click="AddRule()">Add Rule</button>
                                <div class="clearfix"></div>
                                <div id="sortable-container">
                                    <div class="sortable-row" as-sortable="sortableOptions" ng-model="itemsList.items">
                                        <div ng-repeat="item in itemsList.items " as-sortable-item uib-popover="Drag the list to sort for Priority" popover-trigger="mouseenter">
                                            <div ng-click="hideAll(item)" data-toggle="tooltip" data-placement="top" title="Drag the list to sort for Priority">
                                                <div as-sortable-item-handle><i class="fa fa-angle-double-down"></i> {{item.name}} <i class="fa fa-ellipsis-v"></i></div>
                                            </div>
                                            <div ng-if="item==currentIndex">
                                                <display-div eachdivdata='item'></display-div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="showRuleForm">
                                        <form class="form-horizontal addARule p10" name="AddRuleForm" novalidate>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-12">Short Description</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" name="shortdescription" ng-model="CreateRuleObj.name" required>
                                                            <p class="help-block" ng-if="AddRuleForm.shortdescription.$error.required">Short Description is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Pay Period</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="" name="payPeriod" ng-model="CreateRuleObj.payPeriod" required>
                                                                <option value="Monthly">Monthly</option>
                                                                <option value="Annual">Annual</option>
                                                                <option value="Bi-Weekly">Bi-Weekly</option>
                                                                <option value="Bi-Monthly">Bi-Monthly</option>
                                                            </select>
                                                            <p class="help-block" ng-if="AddRuleForm.payPeriod.$error.required">Pay Period is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Individual Type</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="" name="IndivisualType" ng-model="CreateRuleObj.individualType" required>
                                                                <option value="Any">Any</option>
                                                                <option value="CBA">CBA</option>
                                                                <option value="Non-CBA">Non-CBA</option>
                                                            </select>
                                                            <p class="help-block" ng-if="AddRuleForm.IndivisualType.$error.required">Individual Type is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Individual Sub Type</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="" name="IndivisualSubType" ng-model="CreateRuleObj.individualSubType" required>
                                                                <option value="Any">Any</option>
                                                                <option value="Associate">Associate</option>
                                                                <option value="At Large">At Large</option>
                                                                <option value="CBA">CBA</option>
                                                                <option value="Honorary Member">Honorary Member</option>
                                                                <option value="Member">Member</option>
                                                                <option value="Non-Member">Non-Member</option>
                                                                <option value="Other">Other</option>
                                                                <option value="Retiree">Retiree</option>
                                                            </select>
                                                            <p class="help-block" ng-if="AddRuleForm.IndivisualSubType.$error.required">Individual Sub Type is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Member Type</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="" name="MemberType" ng-model="CreateRuleObj.memberType" required>
                                                                <option value="Any">Any</option>
                                                                <option value="CBA Member">CBA Member</option>
                                                                <option value="Non-CBA Member">Non-CBA Member</option>
                                                            </select>
                                                            <p class="help-block" ng-if="AddRuleForm.MemberType.$error.required">Member Type is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Member Sub Type</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="" name="MemberSubType" ng-model="CreateRuleObj.memberSubType" required>
                                                                <option value="Any">Any</option>
                                                                <option value="Beck by Default - Contract">Beck by Default - Contract</option>
                                                                <option value="Beck by Default - State Statute">Beck by Default - State Statute</option>
                                                                <option value="Beck Objector">Beck Objector</option>
                                                                <option value="Non-Member - Open Shop">Non-Member - Open Shop</option>
                                                                <option value="Service Fee Payor">Service Fee Payor</option>
                                                            </select>
                                                            <p class="help-block" ng-if="AddRuleForm.MemberSubType.$error.required">Member Sub Type is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Flat recurring fees</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" min="0" class="form-control" id="" placeholder="" name="reccuringFee" ng-model="CreateRuleObj.flatRecurringFees" ng-required="feeReq">
                                                            <p class="help-block" ng-if="AddRuleForm.reccuringFee.$error.required">Flat recurring fees is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Reduced Rate</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" min="0" class="form-control" id="" placeholder="" name="ReducedRate" ng-model="CreateRuleObj.reducedRate" ng-required="mandatoryForFee">
                                                            <p class="help-block" ng-if="mandatoryForFee">Reduced Rate is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Cap Rate</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" min="0" class="form-control" id="" placeholder="" name="CapRate" ng-model="CreateRuleObj.capRate" ng-required="mandatoryForFee">
                                                            <p class="help-block" ng-if="mandatoryForFee">Cap Rate is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">BHR Factor</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" min="0" class="form-control" id="" placeholder="" name="bhrFactor" ng-model="CreateRuleObj.bhrFactor" required>
                                                            <p class="help-block" ng-if="AddRuleForm.bhrFactor.$error.required">BHR Factor is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Min Hours</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" id="" placeholder="" name="MinHour" ng-model="CreateRuleObj.minHours" required>
                                                            <p class="help-block" ng-if="AddRuleForm.MinHour.$error.required">Min Hours is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Valid From</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group cal-pos">
                                                                <input type="text" class="form-control " uib-datepicker-popup="{{format}}" ng-model="CreateRuleObj.validFrom" is-open="validFromCalenderpopup.opened" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="validFromCalender()" name="ValidFrom">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" ng-click="validFromCalender()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                            <p class="help-block" ng-if="AddRuleForm.ValidFrom.$error.required">Valid From is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Valid To</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group cal-pos">
                                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="CreateRuleObj.validTo" is-open="validToCalenderpopup.opened" max-date="maxDate" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="validToCalender()" name="validTo">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" ng-click="validToCalender()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                            <p class="help-block" ng-if="AddRuleForm.validTo.$error.required">Valid To is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-5">Discount</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group">
                                                                <input type="number" min="0" class="form-control" id="" placeholder="" name="discount" ng-model="CreateRuleObj.discount" required>
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                            <p class="help-block" ng-if="AddRuleForm.discount.$error.required">Discount is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                                        <label class="control-label col-sm-12">Description</label>
                                                        <div class="col-sm-12">
                                                            <textarea class="form-control" placeholder="" id="" cols="30" rows="10" name="LongDescription" ng-model="CreateRuleObj.description" required></textarea>
                                                            <p class="help-block" ng-if="AddRuleForm.LongDescription.$error.required">Description is required</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-primary" ng-click="CreateRule()"><i class="fa fa-check-circle-o"></i> Create</button>
                                                <button type="button" class="btn btn-gray" ng-click="CancelRule()"><i class="fa fa-ban"></i> Cancel</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ChageOrder()"><i class="fa fa-save"></i> Save</button>
                                <button type="button" class="btn btn-gray" ng-click="CloseCBAModal()"><i class="fa fa-ban"></i> Close</button>
                            </div>
                        </div>
                    </script>
                    <!-- modal popup for add new Rule in CBA ends here-->
                    <!-- START POPUP creating New user -->
                    <script type="text/ng-template" id="UserModalContent.html">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"> </h4>
                            </div>
                            <div class="modal-body" dw-loading="createUser" dw-loading-options="{text:'Loading ...'}">
                                <form class="form-horizontal" name="UserCreateForm" novalidate>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="col-sm-4 control-label">User Name <span style="color:red"> *</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="username" ng-model="CreateUserObj.username" required="">
                                            <p class="help-block" ng-if="UserCreateForm.username.$error.required">User Name is required</p>
                                        </div>
                                    </div>
                                    <div ng-if="!CreateUserObj.id">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <label class="col-sm-4 control-label">Password <span style="color:red"> *</span></label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" name="password" ng-model="CreateUserObj.password" required="">
                                                <p class="help-block" ng-if="UserCreateForm.password.$error.required">Password is required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="col-sm-4 control-label">First Name <span style="color:red"> *</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="firstname" ng-model="CreateUserObj.firstName" required="">
                                            <p class="help-block" ng-if="UserCreateForm.firstname.$error.required">First Name is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="col-sm-4 control-label">Last Name <span style="color:red"> *</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="lastname" ng-model="CreateUserObj.lastName" required="">
                                            <p class="help-block" ng-if="UserCreateForm.lastname.$error.required">Last Name is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="col-sm-4 control-label">Role <span style="color:red"> *</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="role" ng-model="CreateUserObj.role" required="">
                                                <option value="">--Select--</option>
                                                <option value="admin">Admin</option>
                                                <option value="user">User</option>
                                                <option value="superUser">Super User</option>
                                            </select>
                                            <p class="help-block" ng-if="UserCreateForm.role.$error.required">Role is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors='{showSuccess: true}'>
                                        <label class="col-sm-4 control-label">Email <span style="color:red"> *</span></label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" name="email" ng-model="CreateUserObj.email" required="">
                                            <p class="help-block" ng-if="UserCreateForm.role.$error.required">Email is required</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" type="button" ng-click="CloselUserModal()">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="SaveUser()"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </script>
                    <!-- END POPUP creating New user -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>
<!--<div class="modal fade" id="createRule" tabindex="-1" role="dialog" aria-labelledby="createRuleLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Rule</h4>
            </div>
            <div class="modal-body">
                
                <div id="builder"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>{{dynamicPopover.content}}</div>
    <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" ng-model="dynamicPopover.title" class="form-control">
    </div>
</script>
