<div class="mainNav">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#/login"><img src="img/logo.png" width="80" height="80" alt=""></a>
        <p>Welcome {{userInfo.username}}</p>
         <h1 ng-if="!reportsPage" class="toggleheader">FACILITY REPORTING INFO</h1>
         <h1 ng-if="reportsPage" class="toggleheader">REPORT DETAILS</h1>
        <a href="#/adminDashboard" ng-if="userInfo.role=='admin'" class="toggleDashboard"><i class="fa fa-dashboard"></i> Admin Dashboard</a>
        <a href="" ng-click="logOut()" title="Log Out" class="signOut"><i class="fa fa-sign-out"></i></a>
    </nav>
</div>