<section class="adminDash" ng-controller="cbaDashboardController">
    <div class="adminDashBody mainBody">
    <ol class="breadcrumb ml100">
           <li><a href="#/importDashboard">Dashboard</a></li>
           <li class="active">Facility Reporting Information</li>
    </ol>
        <div class="clearfix"></div>
        <div class="panel">
            <div class="panel-body">
    
               <div dw-loading="cbaDash" dw-loading-options="{text:'Loading ...'}" ui-grid="filterCbaDashGrid" ui-grid-expandable  ui-grid-resize-columns ui-grid-move-columns class="grid">
               <div class="watermark" ng-show="!filterCbaDashGrid.data.length">No data available</div>
              </div> 
              <div class="nextPrev" ng-if="CBADashPagination.toIndex">
                <button type="button" class="btn btn-primary btn-sm" ng-click="CBADashPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
               
                <button type="button" class="btn btn-primary btn-sm" ng-click="CBADashPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                 Page {{CBADashpresentpage}} Out of {{CBADashtotalpages}}
                <select ng-change="CBADashPagination.loadSelCountPerPage(pageLimitValue)" ng-model='pageLimitValue'>
                   
                     <option value="50">50</option>
                     <option value="100">100</option>
                     <option value="200">200</option>
                     <option value="300">300</option>
                   </select> 
                <p class="pull-right">{{CBADashPagination.fromIndex}} to {{CBADashPagination.toIndex}} items</p>
            </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>
