<div class="mainNav">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#/login"><img src="img/logo.png" width="80" height="80" alt=""></a>
        <p>Welcome {{userInfo.username}}</p>
       <a href="#/userDashboard"  class="toggleDashboard"><i class="fa fa-dashboard"></i> User Dashboard</a> 
       
        <!-- ng-if="userInfo.role" -->
        <a href="" ng-click="logOut()" title="Log Out" class="signOut"><i class="fa fa-sign-out"></i></a>
    </nav>
</div>