<form class="form-horizontal p10" name="updateRuleForm" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-12">Short Description</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="" ng-model="eachdivdata.name"  name="uShortdescription" required="">
                    <p class="help-block" ng-if="updateRuleForm.uShortdescription.$error.required">Short Description is required</p>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Pay Period</label>
                <div class="col-sm-7">
                    <select name="upayPeriod" class="form-control" id="" ng-model="eachdivdata.payPeriod" required="">
                        <option value="Monthly">Monthly</option>
                        <option value="Annual">Annual</option>
                        <option value="Bi-Weekly">Bi-weekly</option>
                        <option value="Bi-Monthly">Bi-Monthly</option>
                    </select>
                    <p class="help-block" ng-if="updateRuleForm.upayPeriod.$error.required">Pay Period is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Individual Type</label>
                <div class="col-sm-7">
                    <select name="uIndivisualType" class="form-control" ng-model="eachdivdata.individualType" required="">
                        <option value="Any">Any</option>
                        <option value="CBA">CBA</option>
                        <option value="Non-CBA">Non-CBA</option>
                    </select>
                     <p class="help-block" ng-if="updateRuleForm.uIndivisualType.$error.required">Individual Type is required</p>
                </div>
            </div>
        </div>
         </div>
        <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Individual Sub Type</label>
                <div class="col-sm-7">
                    <select name="uIndivisualSubType" class="form-control" ng-model="eachdivdata.individualSubType" required="">
                        <option value="Any">Any</option>
                        <option value="Associate">Associate</option>
                        <option value="At Large">At Large</option>
                        <option value="CBA">CBA</option>
                        <option value="">Honorary Member</option>
                        <option value="Member">Member</option>
                        <option value="Non-Member">Non-Member</option>
                        <option value="Other">Other</option>
                        <option value="Retiree">Retiree</option>
                    </select>
                      <p class="help-block" ng-if="updateRuleForm.uIndivisualSubType.$error.required">Individual Sub Type is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Member Type</label>
                <div class="col-sm-7">
                    <select name="uMemberType" class="form-control" ng-model="eachdivdata.memberType" required="">
                        <option value="Any">Any</option>
                        <option value="CBA Member">CBA Member</option>
                        <option value="Non-CBA Member">Non-CBA Member</option>
                    </select>
                     <p class="help-block" ng-if="updateRuleForm.uMemberType.$error.required">Member Type is required</p>
                </div>
            </div>
        </div>
          </div>
           <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Member Sub Type</label>
                <div class="col-sm-7">
                    <select name="uMemberSubType" class="form-control" ng-model="eachdivdata.memberSubType" required="">
                        <option value="Any">Any</option>
                        <option value="Beck by Default - Contract">Beck by Default - Contract</option>
                        <option value="Beck by Default - State Statute">Beck by Default - State Statute</option>
                        <option value="Beck Objector">Beck Objector</option>
                        <option value="Non-Member - Open Shop">Non-Member - Open Shop</option>
                        <option value="Service Fee Payor">Service Fee Payor</option>
                    </select>
                     <p class="help-block" ng-if="updateRuleForm.uMemberSubType.$error.required">Member Sub Type is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Flat recurring fees</label>
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" ng-model="eachdivdata.flatRecurringFees" name="ureccuringFee" ng-required="ufeeReq">
                    <p class="help-block" ng-if="updateRuleForm.ureccuringFee.$error.required">Flat recurring fees is required</p>
                </div>

            </div>
        </div>
        </div>
         <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Reduced Rate</label>
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" ng-model="eachdivdata.reducedRate" name="uReducedRate" ng-required="umandatoryForFee">
                  <p class="help-block" ng-if="umandatoryForFee">Reduced Rate is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Cap Rate</label>
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" ng-model="eachdivdata.capRate" name="uCapRate" ng-required="umandatoryForFee">
                    <p class="help-block" ng-if="umandatoryForFee">Cap Rate is required</p>
                </div>
            </div>
        </div>
        </div>
         <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">BHR Factor</label>
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" ng-model="eachdivdata.bhrFactor" name="ubhrFactor" required="">
                    <p class="help-block" ng-if="updateRuleForm.ubhrFactor.$error.required">BHR Factor is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Min Hours</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="eachdivdata.minHours" name="uMinHour" required="">
                    <p class="help-block" ng-if="updateRuleForm.uMinHour.$error.required">Min Hours is required</p>
                </div>
            </div>
        </div>
        </div>
         <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Valid From</label>
                <div class="col-sm-7">
                    <div class="input-group cal-pos">
                        <input type="text" class="form-control " ng-model="eachdivdata.validFrom" ng-click="ValidFromCalenderFromDate()" uib-datepicker-popup="{{format}}" close-text="Close" is-open="validFromCalenderpopup.opened" required="" name="uValidFrom">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ValidFromCalenderFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                     <p class="help-block" ng-if="updateRuleForm.uValidFrom.$error.required">Valid From is required</p>
                </div>
            </div>

         <!--    <input type="text" class="form-control " ng-model='dtt' uib-datepicker-popup="{{format}}" ng-click="PayPeriodCalenderFromDate()" is-open="payperiodpopupFromCalender.opened"  datepicker-options="dateOptions"   close-text="Close"   placeholder="From Date" > -->
           
        </div>
        <div class="col-md-6 col-sm-6">
             <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Valid To</label>
                <div class="col-sm-7">
                    <div class="input-group cal-pos">
                        <input type="text" class="form-control" ng-model="eachdivdata.validTo"  name="uvalidTo" required=""  ng-click="ValidToCalenderToDate()" uib-datepicker-popup="{{format}}" close-text="Close" is-open="validToCalenderpopup.opened" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ValidToCalenderToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                      <p class="help-block" ng-if="updateRuleForm.uvalidTo.$error.required">Valid To is required</p>
                </div>
            </div>
        </div>
        </div>
         <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-5">Discount</label>
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" ng-model="eachdivdata.discount" name="udiscount" required="">
                     <p class="help-block" ng-if="updateRuleForm.udiscount.$error.required">Discount is required</p>
                </div>
            </div>
        </div>
        </div>
         <div class="row">
        <div class="col-md-12">
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="control-label col-sm-12">Long Description</label>
                <div class="col-sm-12">
                    <textarea name="uLongDescription" class="form-control"  ng-model="eachdivdata.description" cols="30" rows="10" required=""></textarea>
                     <p class="help-block" ng-if="updateRuleForm.uLongDescription.$error.required">Description is required</p>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="btn btn-danger pull-left" ng-click="DeleteRule()"><i class="fa fa-trash-o"></i> Delete</a>
    <a href="" class="btn btn-primary pull-right" ng-click="SaveRule()"><i class="fa fa-check"></i> Submit</a>
    <div class="clearfix"></div>
</form>