<section class="dashboard">
    <div class="navfix"></div>
    <div class="container">
        <div class="countIt">
                <a href="#/cbaRule" ng-if="userInfo.role=='user'" class="panel pan2">
                    <h3>{{Facilitytotalcount}}</h3>
                    <p>Facility</p>
                </a>
                <div ng-if="userInfo.role=='admin'" class="panel pan1">
                    <h3>{{Usertotalcount}}</h3>
                    <p>Users</p>
                </div>
                <div ng-if="userInfo.role=='admin'" class="panel pan2">
                    <h3>{{Facilitytotalcount}}</h3>
                    <p>Facility</p>
                </div>
                <div ng-if="userInfo.role=='admin' || userInfo.role=='user'" class="panel pan3">
                    <h3>{{Reporttotalcount}}</h3>
                    <p>Uploaded Reports</p>
                </div>
                <div ng-if="userInfo.role=='admin' || userInfo.role=='user'" class="panel pan4">
                    <h3>{{processedReportscount}}</h3>
                    <p>Processed Reports</p>
                </div>
        </div>
        <div class="panel">
            <div class="pieChart">
                <h4>Report type : Last Month</h4>
                <nvd3-pie-chart data="exampleData" id="exampleId" margin="{left:0,top:0,bottom:0,right:0}" height="250" width="250" x="xFunction()" y="yFunction()" showLabels="false" pieLabelsOutside="false" showValues="true" labelType="percent" tooltips="true" tooltipcontent="toolTipContentFunction()">
                    <svg></svg>
                </nvd3-pie-chart>
            </div>
        </div>
        <div class="panel">
            <div class="pieChart">
                <h4>Report : Last Week</h4>
                <nvd3-pie-chart data="exampleData" id="exampleId2" margin="{left:0,top:0,bottom:0,right:0}" height="250" width="250" x="xFunction()" y="yFunction()" showLabels="false" pieLabelsOutside="false" showValues="true" labelType="percent" tooltips="true" tooltipcontent="toolTipContentFunction()">
                    <svg></svg>
                </nvd3-pie-chart>
            </div>
        </div>
        <div class="text-center">
            <a href="#userDashboard" class="btn btn-primary">Facility Reporting Info</a>
        </div>
        <div class="clearfix"></div>
        <!--            <a href="#userDashboard" class="btn btn-primary">User Dashboard</a>-->
        <!--            <a href="#adminDashboard" class="btn btn-primary">Admin Dashboard</a>-->
        <!--
            <div class="panel center-block">
                <form action="">
                    <a href="#/adminDashboard" class="btn btn-primary btn-block text-uppercase">Admin Dashboard</a>
                    <a href="#/userDashboard" class="btn btn-primary btn-block text-uppercase">User Dashboard</a>
                </form>
            </div>
-->
    </div>
</section>
<div class="footer footfix">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>