<!-- <div ui-grid="row.entity.billingRule" style="height:150px;"></div> -->
<div ng-controller="subGridController">
  

<!-- 
  
<tr>

<th>BILLING RULE</th>
<th>FROM DATE</th>
<th>TO DATE</th>
<th>STATUS</th>
	
</tr>

  
   <tr ng-class="GetStatusClass(rules.toDate)" ng-repeat="rules in row.entity.billingRule">
    <td>{{rules.rule}}</td>
    <td>{{rules.fromDate | date : 'MM-dd-yyyy'}}</td>
    <td>{{rules.toDate | date : 'MM-dd-yyyy'}}</td>		
    <td >{{GetStatus(rules.toDate)}}</td>
  </tr> -->
                            <div class="form-group">
                                <label for="comment"><i class="fa fa-sticky-note"></i>Notes:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <button class="btn btn-primary pull-right">Add Notes</button>
  
 <div class="text-center" style="margin-top:20px;" ng-show="!row.entity.billingRule.length">No rule available</div>
<table class="subGrid" >
  
<tr>

<th colspan="4">ADDITIONAL INFORMATION </th>

</tr>
<tr>

<th style="width:30%;">REPORT TYPE</th>
<th >LAST RECEIVED PAY PERIOD</th>
<th>LAST IMPORTED PAY PERIOD</th>
<th>PAYMENT SCHEDULE</th>
  
</tr>

  <tr >
   <td>Combo</td>
   <td ><span ng-if="row.entity.ComboAdditionalInfo">{{row.entity.ComboAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.ComboAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</span></td>
   <td></td>      
  <td >{{row.entity.ComboBillPay}}</td>
  </tr>
   <tr >
   <td>Demographic</td>
    <td><span ng-if="row.entity.DemographicAdditionalInfo">{{row.entity.DemographicAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.DemographicAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</span></td>
    <td></td>     
  <td >{{row.entity.DemographicBillPay}}</td>
  </tr>

 <tr >
   <td>Dues</td>
    <td><span ng-if="row.entity.DeuesAdditionalInfo">{{row.entity.DeuesAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.DeuesAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</span></td>
  
    <td></td>     
   <td >{{row.entity.DeuesBillPay}}</td>
  </tr>

 <tr >
   <td>Events</td>
     <td><span ng-if="row.entity.EventsAdditionalInfo">{{row.entity.EventsAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.EventsAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</span></td>
    <td></td>    
   <td >{{row.entity.EventsBillPay}}</td>
  </tr>

 <tr >
   <td>New Hire</td>
    <td><span ng-if="row.entity.NewHireAdditionalInfo">{{row.entity.NewHireAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.NewHireAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</span></td>
    <td></td>     
   <td >{{row.entity.NewHireBillPay}}</td>
  </tr>

 <tr >
   <td>Termination</td>
    <td><span ng-if="row.entity.TerminationAdditionalInfo">{{row.entity.TerminationAdditionalInfo.reportPeriodFrom | date : 'MM-dd-yyyy'}} to {{row.entity.TerminationAdditionalInfo.reportPeriodTo | date : 'MM-dd-yyyy'}}</td></span>
    <td></td>      
   <td >{{row.entity.TerminationBillPay}}</td>
  </tr>
  <tr >




  
  <!--  <tr >
   <td>{{row.entity.additionalInfo.reportType}} </td>
   <td></td>   
   <td >{{row.entity.additionalInfo.payPeriod}}</td>
    </tr> -->

   

  
</table>
</div>