<section>
    <div class="mainNav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#/login"><img src="img/logo.png" width="100" height="100" alt=""></a>
                </div>
            </nav>
        </div>
    </div>
    <div class="navfix"></div>
    <div class="loginBody">
        <div class="container">
            <div class="panel center-block" dw-loading="login" dw-loading-options="{text:'Login ...'}">
                <form name="loginForm" novalidate>
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" name="name" ng-model="user.username" required placeholder="">
                        <p class="help-block" ng-if="loginForm.name.$error.required">Username is required</p>
                    </div>
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="">
                        <p class="help-block" ng-if="loginForm.password.$error.required">Password Is required</p>
                    </div>
                    <a href="">Forgot Password?</a>
                    <button class="btn btn-primary btn-block text-uppercase" ng-click="submit()">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="footer footfix">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>