<section class="adminDash">
    <div class="reportBody mainBody">
        <ol class="breadcrumb ml100">
            <li><a href="#/importDashboard">Dashboard</a></li>
            <li><a href="#/userDashboard">Records</a></li>
            <li class="active">Record Details</li>
        </ol>
        <div class="clearfix"></div>
        <div class="panel" dw-loading="ReportInfo" dw-loading-options="{text:'Loading ...'}">
            <div class="pull-left p10 reportDet">
                <div>
                    <p class="we220" title="{{reportInfoObj.filename}}"><span class="">File Name</span> : {{reportInfoObj.filename}}</p>
                    <p class="we220" title="{{reportInfoObj.facility.name}}"><span class="">Facility</span> : {{reportInfoObj.facility.name}}</p>
                </div>
                <div>
                    <p><span class="">Status</span> : {{reportInfoObj.status}}</p>
                    <p><span class="">Constituency ID</span> : {{reportInfoObj.facility.consituencyId}}</p>
                </div>
                <div>
                    <p><span class="">Imported Date</span> : {{reportInfoObj.importDate }} </p>
                    <p><span class="">Processed Date</span> : {{reportInfoObj.processedDate }}</p>
                </div>
                <div>
                    <p><span class="">Pay Period End Date</span> : {{reportInfoObj.reportPeriodTo }} </p>
                    <p><span class="">Report Type</span> : {{reportInfoObj.reportType}}</p>
                </div>
            </div>
            <div class="pull-right m10 text-right">
                <!--  ng-if="createButton",ng-if="editButton" -->
                <button class="btn btn-primary" ng-click="saveChangedReportWidth()">Save</button>
                <button id="createMapBtn" ng-if="enableCreateMapBtn" class="btn btn-primary" ng-click="CreateMap()">Create Mapping</button>
                <button id="updateMapBtn" ng-if="(enableEditMapBtn)&& (disableEditMap)" class="btn btn-primary " ng-click="EditMap()">Edit Mapping</button>
                <button ng-if="ImportEditMap" class="btn btn-primary " ng-click="ImportedEditMap()"> Edit Mapping</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Uploaded state TAB -->
        <div  class="panel p10" ng-controller="ActivitytabController ">
            <div class="tab-content">
                <!-- {{seletedArray}} -->
                <ul class="nav nav-tabs stateData" role="tablist">
                    <li role="presentation" ng-class="(seletedArray[0])?'act':''"><a href="" ng-click="selectTabActivity(0)" ng-class="(activityTabStatus[0])?'activityStatus':''" aria-controls="mastertab1" class="act" role="tab" data-toggle="tab">Uploaded</a></li>
                    <li role="presentation" ng-class="(seletedArray[1])?'act':''"><a href="" ng-click="selectTabActivity(1)" ng-class="(activityTabStatus[1])?'activityStatus':''" aria-controls="mastertab2" role="tab" data-toggle="tab">Processed</a></li>
                    <li role="presentation" ng-class="(seletedArray[2])?'act':''"><a href="" ng-click="selectTabActivity(2)" ng-class="(activityTabStatus[2])?'activityStatus':''" aria-controls="mastertab3" role="tab" data-toggle="tab">Imported</a></li>
                </ul>
                <div role="tabpanel" class="tab-pane active" id="mastertab2" ng-if="isSelectedActivity==0" dw-loading="RawReport" dw-loading-options="{text:'Loading ...'}">
                    <div class="tab-content"  ng-controller="UploadedTabController as upload" >
                        <ul class="nav nav-tabs" role="tablist" >
                            <li role="presentation" ng-class="{active:upload.isSelected(1)}"><a href="" ng-click="upload.selectUploadedTab(1)" aria-controls="rdtab1" role="tab" data-toggle="tab">All<span ng-if="TotalReportCount">{{TotalReportCount}}</span></a></li>
                        </ul>
                        <div role="tabpanel" class="tab-pane active" ng-if="upload.isSelected(1)">
                            <div ui-grid="rawRecordGridOptions" ui-grid-resize-columns ui-grid-move-columns class="grid" >
                            </div>
                            <div class="nextPrev" ng-if="rawRecordPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="rawRecordPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="rawRecordPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{Rawreportpresentpage}} Out of {{Rawreporttotalpages}}

                                <select ng-change="rawRecordPagination.loadSelCountPerPage(RawReportpageLimitValue)" ng-model='RawReportpageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{rawRecordPagination.fromIndex}} to {{rawRecordPagination.toIndex}} items</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Uploaded state TAB -->
                <!-- Process state TAB -->
                <div role="tabpanel" class="tab-pane active" id="mastertab2" ng-if="isSelectedActivity==1">
                    <div class="tab-content" ng-controller="ProcessedtabController as processed">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" ng-class="{active:processed.isSelected(1)}"><a href="" ng-click="processed.selectSubTab(1)" aria-controls="rdtab1" role="tab" data-toggle="tab">All <span>{{TotalReportCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(2)}"><a href="" ng-click="processed.selectSubTab(2)" aria-controls="rdtab5" role="tab" data-toggle="tab">New <span>{{newCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(3)}"><a href="" ng-click="processed.selectSubTab(3)" aria-controls="rdtab4" role="tab" data-toggle="tab">Need Update <span>{{needUpdateCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(4)}"><a href="" ng-click="processed.selectSubTab(4)" aria-controls="rdtab2" role="tab" data-toggle="tab">Matched <span>{{matchedCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(5)}"><a href="" ng-click="processed.selectSubTab(5)" aria-controls="rdtab3" role="tab" data-toggle="tab">Duplicates <span>{{duplicatesCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(6)}"><a href="" ng-click="processed.selectSubTab(6)" aria-controls="rdtab6" role="tab" data-toggle="tab">Exceptions <span>{{exceptionsCount}}</span></a></li>
                            <li role="presentation" ng-class="{active:processed.isSelected(7)}"><a href="" ng-click="processed.selectSubTab(7)" aria-controls="rdtab7" role="tab" data-toggle="tab">Non primary facility <span>{{nonPrimaryFacilityCount}}</span></a></li>
                        </ul>
                        <!-- tab name ALL -->
                        
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(1)">
                            <div ui-grid="gridOptionsAllProcessedRows" class="grid" dw-loading="ProcessAllTab" ui-grid-resize-columns ui-grid-move-columns dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!gridOptionsAllProcessedRows.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="AllProcessedPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="AllProcessedPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="AllProcessedPagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{AllProcessedpresentpage}} Out of {{AllProcessedtotalpages}}
                                <select ng-change="AllProcessedPagination.loadSelCountPerPage(ProcessedAllPageLimitValue)" ng-model='ProcessedAllPageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{AllProcessedPagination.fromIndex}} to {{AllProcessedPagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name NEW -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(2)">
                        	
                            <div class="pull-right ">
                                <!--   <button type="button" class="btn btn-primary btn-sm" ng-click="ProcessedNewGridselectAll()">Select All</button>
                             <button type="button" class="btn btn-primary btn-sm" ng-click="ProcessedNewGridclearAll()">Clear All</button> -->
                             <button class="btn btn-primary btn-sm " ng-click="newEnrichReprocess()" ng-if="enrichReprocessBtn"><i class="fa fa-cloud-upload"></i> Re-process</button>
                                <button class="btn btn-primary btn-sm " ng-click="openEnrichModal()"><i class="fa fa-share-square-o"></i> Enrich</button>
                                <button id="createBtn" class="btn btn-primary btn-sm " ng-disabled="enrichCreateBtn" ng-click="CreateEnrichData()"><i class="fa fa-edit"></i> Create</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshNewTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <span ng-if="enrichshowingAllSelectionoption" style="display:inline-block;margin-top:5px;"> All {{ limit }} rows on this page are selected. <a ng-click="ProcessedNewGridselectAll()" role="tab" data-toggle="tab" style="cursor:pointer;">Select all {{ProcessedNewtotalcount}} records </a>
                            </span>
                            <span ng-if="enrichshowingAllSelected" style="display:inline-block;margin-top:5px;">All {{ProcessedNewtotalcount}} records are selected.
                            </span>
                            <a ng-if="ProcessedNewGridselectAllValue" ng-click="ProcessedNewGridclearAll()" role="tab" data-toggle="tab" style="cursor:pointer;">Clear all</a>
                            <div ui-grid="filterProcessedNewGrid" ui-grid-edit ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ProcessNewTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedNewGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="ProcessedNewPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="ProcessedNewPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="ProcessedNewPagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{ProcessedNewpresentpage}} Out of {{ProcessedNewtotalpages}}
                                <select ng-change="ProcessedNewPagination.loadSelCountPerPage(ProcessedNewPageLimitValue)" ng-model='ProcessedNewPageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{ProcessedNewPagination.fromIndex}} to {{ProcessedNewPagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name NEED UPDATE -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(3)">
                            <div class="pull-right ">
                                <button id="updateBtn" class="btn btn-primary btn-sm " ng-click="NeedUpdateAction()"><i class="fa fa-pencil-square-o"></i> Update</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshUpdateTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterProcessedUpdateGrid" ui-grid-edit ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ProcessUpdateTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedUpdateGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="processedupdatePagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="processedupdatePagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="processedupdatePagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{processedupdatepresentpage}} Out of {{processedupdatetotalpages}}
                                <select ng-change="processedupdatePagination.loadSelCountPerPage(ProcessedUpdatePageLimitValue)" ng-model='ProcessedUpdatePageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{processedupdatePagination.fromIndex}} to {{processedupdatePagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name MATCHED -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(4)">
                            <div class="pull-right ">
                                <button id="importBtn" ng-click="matchedImportAction()" class="btn btn-primary btn-sm "><i class="fa fa-cloud-upload"></i> Import</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshMatchedTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterProcessedMatchedGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ProcessMatchedTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedMatchedGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="processedmatchedPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="processedmatchedPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="processedmatchedPagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{processedmatchedpresentpage}} Out of {{processedmatchedtotalpages}}
                                <select ng-change="processedmatchedPagination.loadSelCountPerPage(ProcessedMatchedPageLimitValue)" ng-model='ProcessedMatchedPageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{processedmatchedPagination.fromIndex}} to {{processedmatchedPagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name DUPLICATES -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(5)">
                            <div class="pull-right ">
                                <button id="clearBtn" ng-click="clearDuplicatesAction()" class="btn btn-primary btn-sm "><i class="fa fa-trash"></i> Clear</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshDuplicatesTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterProcessedDuplicatesGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ProcessDuplicatesTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedDuplicatesGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="processedDuplicatePagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="processedDuplicatePagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="processedDuplicatePagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{processedDuplicatepresentpage}} Out of {{processedDuplicatetotalpages}}
                                <select ng-change="processedDuplicatePagination.loadSelCountPerPage(ProcessedDuplicatesPageLimitValue)" ng-model='ProcessedDuplicatesPageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{processedDuplicatePagination.fromIndex}} to {{processedDuplicatePagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab DUPLICATES ends here -->
                        <!-- tab name EXCEPTIONS -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(6)">
                            <div class="pull-right ">
                                <button class="btn btn-primary btn-sm " ng-click="openExceptionEnrichModal()"><i class="fa fa-share-square-o"></i> Enrich</button>
                                <button  class="btn btn-primary btn-sm " ng-disabled="ExceptionenrichCreateBtn" ng-click="CreateExceptionEnrichData()"><i class="fa fa-edit"></i> Create</button>
                                <button class="btn btn-primary btn-sm "><i class="fa fa-cloud-upload"></i> Save &amp; Reprocess</button>
                                <button id="clearBtn" ng-click="clearExceptionsAction()" class="btn btn-primary btn-sm "><i class="fa fa-trash"></i> Clear</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshExceptionsTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterProcessedExceptionsGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-edit ui-grid-selection class="grid" dw-loading="ProcessExceptionsTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedExceptionsGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="processedExceptionPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="processedExceptionPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="processedExceptionPagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{processedExceptionpresentpage}} Out of {{processedExceptiontotalpages}}
                                <select ng-change="processedExceptionPagination.loadSelCountPerPage(ProcessedExceptionPageLimitValue)" ng-model='ProcessedExceptionPageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{processedExceptionPagination.fromIndex}} to {{processedExceptionPagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name EXCEPTIONS ends here-->
                        <!-- tab name NON-PRIMARY-FACILITY -->
                        <div role="tabpanel" class="tab-pane active" ng-if="processed.isSelected(7)">
                            <div class="pull-right ">
                                <button id="clearBtn" ng-click="updateNonPrimaryAction()" class="btn btn-primary btn-sm "><i class="fa fa-cloud-upload"></i> Update</button>
                                <button ng-if="(processRefundBtn)" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Process Refund</button>
                                <button ng-if="(processBtn)" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Process</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="NewTabsearch" class="form-control" ng-change="refreshNonPrimaryTabData(NewTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterProcessedNonPrimaryGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ProcessNonPrimaryTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!filterProcessedNonPrimaryGrid.data.length">No data available</div>
                            </div>
                            <div class="nextPrev" ng-if="processedNonPriFacilityPagination.toIndex">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="processedNonPriFacilityPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                                <button type="button" ng-click="processedNonPriFacilityPagination.nextPage()" class="btn btn-primary btn-sm" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                                Page {{processedNonPriFacilitypresentpage}} Out of {{processedNonPriFacilitytotalpages}}
                                <select ng-change="processedNonPriFacilityPagination.loadSelCountPerPage(pageLimitValue)" ng-model='pageLimitValue'>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select> items per page
                                <p class="pull-right">{{processedNonPriFacilityPagination.fromIndex}} to {{processedNonPriFacilityPagination.toIndex}} items</p>
                            </div>
                        </div>
                        <!-- tab name NON-PRIMARY-FACILITY ends here-->
                    </div>
                </div>
                <!-- END Process state TAB -->
                <!-- Imported state TAB -->
                <div role="tabpanel" class="tab-pane active" ng-if="isSelectedActivity==2">
                    <div class="tab-content" ng-controller="ImportedTabController as importtab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="" ng-click="importtab.selectImportTab(1)" aria-controls="allImportedtab" role="tab" data-toggle="tab">All <span>{{allImportedCount}}</span></a></li>
                            <li class="pull-right">
                                <button id="reProcessBtn" class="btn btn-primary btn-sm dn"><i class="fa fa-cloud-upload"></i> Save &amp; Reprocess</button>
                                <button id="reClearBtn" class="btn btn-primary btn-sm dn"><i class="fa fa-trash"></i> Clear</button>
                            </li>
                        </ul>
                        <div role="tabpanel" class="tab-pane active" ng-if="importtab.isSelected(1)">
                            <div ui-grid="gridOptionsImportedAllRow"  ui-grid-resize-columns ui-grid-move-columns class="grid" dw-loading="ImportedAllTab" dw-loading-options="{text:'Loading ...'}">
                                <div class="watermark" ng-show="!gridOptionsImportedAllRow.data.length">No data available</div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" ng-if="importtab.isSelected(2)">
                            <div class="pull-right ">
                                <button id="clearBtn" ng-click="clearDuplicatesImportedAction()" class="btn btn-primary btn-sm "><i class="fa fa-trash"></i> Clear</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="DuplicateTabsearch" class="form-control" ng-change="refreshDuplicateTabData(DuplicateTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterImportedDuplicateGrid" ui-grid-edit  ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ImportedDuplicateTab" dw-loading-options="{text:'Loading ...'}">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" ng-if="importtab.isSelected(3)">
                            <div class="pull-right ">
                                <button class="btn btn-primary btn-sm "><i class="fa fa-cloud-upload"></i> Save &amp; Reprocess</button>
                                <button id="clearBtn" ng-click="clearImportedExceptionsAction()" class="btn btn-primary btn-sm "><i class="fa fa-trash"></i> Clear</button>
                            </div>
                            <div class="pull-left">
                                <div class="sBox">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="ExceptionTabsearch" class="form-control" ng-change="refreshExceptionTabData(ExceptionTabsearch)" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ui-grid="filterImportedExceptionGrid" ui-grid-edit ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid" dw-loading="ImportedExceptionTab" dw-loading-options="{text:'Loading ...'}">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Imported state TAB -->
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>
<script type="text/ng-template" id="CreateMapModalContent.html">
    <div class="modal-content" dw-loading="CreateMapping" dw-loading-options="{text:'Loading ...'}">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CloseCreateMapModal()" title="Close"><span aria-hidden="true">&times;</span></button>
            <p class=" pull-right" ng-class="(templateObj.status)?'text-success':''">{{templateObj.status}}</p>
            <h4 class="modal-title" id="uploadNewLabel">Create Mapping</h4>
        </div>
        <div class="modal-body modalHeight">
            <form class="form-horizontal">
                <p class="notice">Note: All <span style="color:red"> * </span> marked Target column fields are required to select Source column fields for Mapping.</p>
                <table class="table">
                    <tr>
                        <th>
                            <p>Target Column</p>
                        </th>
                        <th>
                            <p>Source Column</p>
                        </th>
                        <th>
                            <p>Transformation</p>
                        </th>
                        <th style="width: 150px;">
                            <p>Result</p>
                        </th>
                    </tr>
                    <tr ng-repeat="TargetColumns in TargetColObj track by $index">
                        <td>
                            <p>{{ShowColsByUnderscore(TargetColumns.fieldName)}} <span ng-if="TargetColumns.required"> <span style="color:red" ng-if="TargetColumns.required==true"> * </span></span>
                            </p>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="SourceColValueObj[$index]['fieldValue']" ng-change="SelectSourceCol($index,SourceColValueObj[$index]['fieldValue'],TargetColumns.fieldName)">
                                <option value="">Select</option>
                                <option ng-repeat="option in SourceColField" value="{{option.colfields}}">{{option.colfields}}</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="SourceColValueObj[$index]['fieldRule']" ng-options="rule.Name as rule.Name for rule in TransformationRules" ng-change="ExpectedResult($index,SourceColValueObj[$index]['fieldRule'],SourceColValueObj[$index]['fieldValue'])">
                                <option value="">none</option>
                            </select>
                        </td>
                        <td>
                            <p class="text-success">{{SourceColValueObj[$index]['fieldResult']}}</p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="CreateDraftXslt()"><i class="fa fa-check-square-o"></i> Save As Draft</button>
            <button type="button" class="btn btn-primary" ng-click="GenerateXslt()"><i class="fa fa-check-square-o"></i> Save &amp; Re-process</button>
        </div>
    </div>
</script>
<!-- editmap on processed stage popup modal start -->
<script type="text/ng-template" id="EditMapModalContent.html">
    <div class="modal-content" dw-loading="UpdateMapping" dw-loading-options="{text:'Loading ...'}">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CloseEditMapModal()" title="Close"><span aria-hidden="true">&times;</span></button>
            <p class=" pull-right" ng-class="(templateObj.status)?'text-success':''">{{templateObj.status}}</p>
            <h4 class="modal-title" id="uploadNewLabel">Update Mapping</h4>
        </div>
        <div class="modal-body modalHeight">
            <form class="form-horizontal">
                <p class="notice">Note: All <span style="color:red"> * </span> marked Target column fields are required to select Source column fields for Mapping.</p>
                <table class="table">
                    <tr>
                        <th>
                            <p>Target Column</p>
                        </th>
                        <th>
                            <p>Source Column</p>
                        </th>
                        <th>
                            <p>Transformation</p>
                        </th>
                        <th>
                            <p>Result</p>
                        </th>
                    </tr>
                    <tr ng-repeat="TargetColumns in TargetColObj track by $index">
                        <td>
                            <p>{{ShowColsByUnderscore(TargetColumns.fieldName)}}
                                <span ng-if="TargetColumns.required"> <span style="color:red" ng-if="TargetColumns.required==true"> * </span></span>
                            </p>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="targetSourceObj[$index]['fieldValue']" ng-change="UpdateSelectSourceCol($index,targetSourceObj[$index]['fieldValue'],TargetColumns.fieldName,targetSourceObj[$index]['fieldRule'])">
                                <option value="">--Select--</option>
                                <option ng-repeat="option in SourceColField" value="{{option.colfields}}">{{option.colfields}}</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="targetSourceObj[$index]['fieldRule']" ng-change="UpdateExpectedResult($index,targetSourceObj[$index]['fieldRule'],targetSourceObj[$index]['fieldValue'])">
                                <option value="">none</option>
                                <option ng-repeat="ruleoption in TransformationRules" value="{{ruleoption.Name}}">{{ruleoption.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <p class="text-success">{{targetSourceObj[$index]['fieldResult']}}</p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="UpdateDraftXslt()"><i class="fa fa-check-square-o"></i> Save As Draft</button>
            <button type="button" class="btn btn-primary" ng-click="UpdateXslt()"><i class="fa fa-check-square-o"></i> Save &amp; Re-process</button>
        </div>
    </div>
</script>
<!-- editmap popup modal start ends here -->
<!-- editmap on processed stage popup modal start -->
<script type="text/ng-template" id="ImportedEditMapModalContent.html">
    <div class="modal-content" dw-loading="UpdateMapping" dw-loading-options="{text:'Loading ...'}">
        <div class="modal-header">
            <button type="button" class="close" ng-click="ImportedCloseEditMapModal()" title="Close"><span aria-hidden="true">&times;</span></button>
            <p class=" pull-right" ng-class="(templateObj.status)?'text-success':''">{{templateObj.status}}</p>
            <h4 class="modal-title" id="uploadNewLabel">Update Mapping</h4>
        </div>
        <div class="modal-body modalHeight">
            <form class="form-horizontal">
                <p class="notice">Note: All <span style="color:red"> * </span> marked Target column fields are required to select Source column fields for Mapping.</p>
                <table class="table">
                    <tr>
                        <th>
                            <p>Target Column</p>
                        </th>
                        <th>
                            <p>Source Column</p>
                        </th>
                        <th>
                            <p>Transformation</p>
                        </th>
                        <th>
                            <p>Result</p>
                        </th>
                    </tr>
                    <tr ng-repeat="TargetColumns in TargetColObj track by $index">
                        <td>
                            <p>{{ShowColsByUnderscore(TargetColumns.fieldName)}} <span ng-if="TargetColumns.required"> <span style="color:red" ng-if="TargetColumns.required==true"> * </span></span>
                            </p>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="targetSourceObj[$index]['fieldValue']" ng-change="UpdateSelectSourceCol($index,targetSourceObj[$index]['fieldValue'],TargetColumns.fieldName,targetSourceObj[$index]['fieldRule'])">
                                <option value="">--Select--</option>
                                <option ng-repeat="option in SourceColField" value="{{option.colfields}}">{{option.colfields}}</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-control" ng-model="targetSourceObj[$index]['fieldRule']" ng-change="UpdateExpectedResult($index,targetSourceObj[$index]['fieldRule'],targetSourceObj[$index]['fieldValue'])">
                                <option value="">none</option>
                                <option ng-repeat="ruleoption in TransformationRules" value="{{ruleoption.Name}}">{{ruleoption.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <p class="text-success">{{targetSourceObj[$index]['fieldResult']}}</p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="UpdateDraftXslt()"><i class="fa fa-check-square-o"></i> Save As Draft</button>
            <button type="button" class="btn btn-primary" ng-click="UpdateXslt()"><i class="fa fa-check-square-o"></i> Save </button>
        </div>
    </div>
</script>
<!-- editmap popup modal start ends here -->
<!-- modal popup for enrich  -->
<script type="text/ng-template" id="EnrichModalContent.html">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enrich Data with the following</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Individual Type</label>
                </div>
                <div class="col-md-8">
                    <select name="" class="form-control" ng-model="EnrichIndivisualTypeVal">
                        <option value="">--Select--</option>
                        <option value="CBA">CBA</option>
                        <option value="Non-CBA">Non-CBA</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Individual Sub-Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="EnrichIndivisualSubTypeVal">
                        <option value="">--Select--</option>
                        <option value="Associate">Associate</option>
                        <option value="At Large">At Large</option>
                        <option value="CBA">CBA</option>
                        <option value="Honorary Member">Honorary Member</option>
                        <option value="Member">Member</option>
                        <option value="Non-Member">Non-Member</option>
                        <option value="Other">Other</option>
                        <option value="Retiree">Retiree</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Member Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="EnrichMemberTypeVal">
                        <option value="">--Select--</option>
                        <option value="CBA Member">CBA Member</option>
                        <option value="Non-CBA Member">Non-CBA Member</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Member Sub-Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="EnrichMemberSubTypeVal">
                        <option value="">--Select--</option>
                        <option value="Beck by Default - Contract">Beck by Default - Contract</option>
                        <option value="Beck by Default - State Statute">Beck by Default - State Statute</option>
                        <option value="Beck Objector">Beck Objector</option>
                        <option value="Non-Member - Open Shop">Non-Member - Open Shop</option>
                        <option value="Service Fee Payor">Service Fee Payor</option>
                    </select>
                </div>
                <!-- <div class="col-md-4 mt15">
                    <label>Charge plan</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" id="" ng-model="EnrichChargePlanVal">
                        <option value="">--Select--</option>
                        <option value="Facility Specific Plans 1">Facility Specific Plans 1</option>
                        <option value=""></option>
                    </select>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloseEnrichModal()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="SaveEnrichData()"><i class="fa fa-check-square-o"></i> Enrich</button>
        </div>
    </div>
</script>
<!-- modal popup for enrich  -->
<!-- modal popup for exception enrich  -->
<script type="text/ng-template" id="ExceptionEnrichModalContent.html">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enrich Data with the following</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Individual Type</label>
                </div>
                <div class="col-md-8">
                    <select name="" class="form-control" ng-model="ExceptionEnrichIndivisualTypeVal">
                        <option value="">--Select--</option>
                        <option value="CBA">CBA</option>
                        <option value="Non-CBA">Non-CBA</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Individual Sub-Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="ExceptionEnrichIndivisualSubTypeVal">
                        <option value="">--Select--</option>
                        <option value="Associate">Associate</option>
                        <option value="At Large">At Large</option>
                        <option value="CBA">CBA</option>
                        <option value="Honorary Member">Honorary Member</option>
                        <option value="Member">Member</option>
                        <option value="Non-Member">Non-Member</option>
                        <option value="Other">Other</option>
                        <option value="Retiree">Retiree</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Member Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="ExceptionEnrichMemberTypeVal">
                        <option value="">--Select--</option>
                        <option value="CBA Member">CBA Member</option>
                        <option value="Non-CBA Member">Non-CBA Member</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Member Sub-Type</label>
                </div>
                <div class="col-md-8 mt15">
                    <select name="" class="form-control" ng-model="ExceptionEnrichMemberSubTypeVal">
                        <option value="">--Select--</option>
                        <option value="Beck by Default - Contract">Beck by Default - Contract</option>
                        <option value="Beck by Default - State Statute">Beck by Default - State Statute</option>
                        <option value="Beck Objector">Beck Objector</option>
                        <option value="Non-Member - Open Shop">Non-Member - Open Shop</option>
                        <option value="Service Fee Payor">Service Fee Payor</option>
                    </select>
                </div>
                <div class="col-md-4 mt15">
                    <label>Social Security Number</label>
                </div>
                <div class="col-md-8 mt15">
                    <input class="form-control" ng-model="ssn" ssn-field="" ssn-field-mask="true" type="text" />
                </div>
                <div class="col-md-4 mt15">
                    <label>RN Licence Number</label>
                </div>
                <div class="col-md-8 mt15">
                    <input type="text" class="form-control" onkeyup="this.value = this.value.replace(/[.]+/,'')" ng-model="Exceptionrnlicence"> {{Exceptionrnlicence}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloseExceptionEnrichModal()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="SaveExceptionEnrichData()"><i class="fa fa-check-square-o"></i> Enrich</button>
        </div>
    </div>
</script>
<!-- modal popup for exception enrich  -->
<!-- modal popup for Displaying Duplicate Rows -->
<script type="text/ng-template" id="DuplicateRowModalContent.html">
    <div class="modal-content" dw-loading="duplicateRecordModal" dw-loading-options="{text:'Loading ...'}" >
        <div class="modal-header">
            <h4 class="modal-title">All Duplicate Records</h4>
        </div>
        <div class="modal-body duplicateRecordsPop">
          <p class="text-center text-bold" > Based on <span ng-repeat="comparedField in matchingColumns track by $index"><span ng-if="comparedField.required"> <span style="color:#8B2438;text-transform: uppercase;" ng-if="comparedField.required==true"> {{comparedField.fieldName}} <span style="color: gray">|</span></span></span></span></p>
        <p class="text-center text-bold">Selected Record</p>
        <div ui-grid="SelectedDuplicateRow" id="duplicateSelectedGrid" class="grid" >
            
         </div>
            
       <p class="text-center text-bold">All Matched Duplicate Records </p>
        
          <div ui-grid="ProcessedSelectedDuplicateRowsGrid" class="grid">
             <div class="watermark" ng-show="!ProcessedSelectedDuplicateRowsGrid.data.length">No data available</div>
         </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloseDuplicateRowModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- modal popup for Displaying Duplicate Rows ends here -->

<!-- modal popup for Displaying Matched  Rows  -->
<script type="text/ng-template" id="MatchedRowModalContent.html">
    <div class="modal-content" dw-loading="matchedRecordModal" dw-loading-options="{text:'Loading ...'}" >
        <div class="modal-header">
            <h4 class="modal-title">Matched Rows</h4>
        </div>
        <div class="modal-body duplicateRecordsPop">
         
        <p class="text-center text-bold">Selected Record</p>
        <div ui-grid="SelectedMatchedRow" id="matchedSelectedGrid" class="grid" >
            
         </div>
            
       <p class="text-center text-bold">Matched Record </p>
       
        
          <div ui-grid="ProcessedSelectedMatchedRowsGrid" class="grid">
             <div class="watermark" ng-show="!ProcessedSelectedMatchedRowsGrid.data.length">No data available</div>
         </div> 
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloseMatchedRowModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- modal popup for Displaying Duplicate Rows ends here -->

<!-- modal popup for Displaying NeedUpdate  Rows  -->
<script type="text/ng-template" id="NeedUpdateRowModalContent.html">
    <div class="modal-content" dw-loading="needUpdateRecordModal" dw-loading-options="{text:'Loading ...'}" >
        <div class="modal-header">
            <h4 class="modal-title">NeedUpdate Comparision Rows</h4>
        </div>
        <div class="modal-body duplicateRecordsPop">
         
        <p class="text-center text-bold">Selected Record</p>
        <div ui-grid="SelectedNeedUpdateRow" id="needUpdateSelectedGrid" class="grid" >
            
         </div>
            
       <p class="text-center text-bold">Update Record </p>
       
        
        <!--   <div ui-grid="ProcessedSelectedNeedUpdateRowsGrid" class="grid">
           <div class="watermark" ng-show="!ProcessedSelectedNeedUpdateRowsGrid.data.length">No data available</div>
                 </div>  -->
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloseNeedUpdateRowModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- modal popup for Displaying Duplicate Rows ends here -->

