<div class="mainNav">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#/login"><img src="img/logo.png" width="80" height="80" alt=""></a>
        <p>Welcome {{userInfo.username}}</p>
         <h1 ng-if="userInfo.role=='admin'" class="toggleheader">ADMIN DASHBOARD</h1>
        <h1 ng-if="userInfo.role=='user'" class="toggleheader">USER DASHBOARD</h1>
        <a href="#/userDashboard" ng-if="userInfo.role=='admin'" class="toggleDashboard"><i class="fa fa-dashboard"></i> User Dashboard</a>
      
        <!-- ng-if="userInfo.role" -->
        <a href="" ng-click="logOut()" title="Log Out" class="signOut"><i class="fa fa-sign-out"></i></a>
    </nav>
</div>