<section>
    <!-- ##################################  Body Section  ###################################### -->
    <div class="userDashBody mainBody" ng-init="init()">
        <ol class="breadcrumb ml100">
            <li><a href="#/importDashboard">Dashboard</a></li>
            <li class="active">Records</li>
        </ol>
        <button class="btn btn-info pull-right" ng-click="openUploadModal()"><i class="fa fa-upload"></i> Upload New</button>
        <div class="clearfix"></div>
        <div class="panel p10">
            <div class="pull-left" style="width:300px; position:relative;">
               <div class="deleteDownloadbtn w40">
                    <a href="" class="btn btn-danger pull-left"  ng-click="deleteReport()" ng-if="enableDelete" ><i class="fa fa-trash-o"></i></a>
                    <a href="{{downloadUrl}}" class="btn btn-primary pull-left" ng-click="downloadReport()"  ng-if="enableDownload"><i class="fa fa-download"></i></a>
                </div>
                <div class="sBox">
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="search" class="form-control" ng-change="refreshData(search)" placeholder="Search..." />
                </div>
            </div>
            <div class="pull-right text-right mainfilter">
                <p class="pull-left">Filter by</p>
                <div class="pull-left">
                    <div angucomplete-alt placeholder="Facility Name" maxlength="50" pause="100" selected-object="FacilityFilter" local-data="facilityObj" search-fields="name" description-field="consituencyId" title-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight" id="searchfacilityFilter">
                    </div>
                </div>
                <input type="text" class="form-control dib span2" uib-datepicker-popup="{{format}}" ng-model="fromDate" is-open="popup1.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" placeholder="From Date" id="fromDate" ng-change="FilterByToDate(fromDate)">
                <input type="text" class="form-control dib span2" uib-datepicker-popup="{{format}}" ng-model="toDate" is-open="popup2.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" placeholder="To Date" id="toDate" ng-change="FilterByDate(fromDate,toDate)">
                <select name="" class="form-control" id="" ng-model="reportTypeVal" ng-change="FilterByReportType(reportTypeVal)">
                    <option value="">--Report Type--</option>
                    <option value="All">All</option>
                    <option value="Combo">Combo</option>
                    <option value="Demographic">Demographic</option>
                    <option value="Dues">Dues</option>
                    <option value="Events">Events</option>
                    <option value="New Hire">New Hire</option>
                    <option value="PD Application">PD Application</option>
                    <option value="Termination">Termination</option>
                </select>
                <select name="" class="form-control" id="" ng-model="fileStage" ng-change="FilterByFileStage(fileStage)">
                    <option value="">File Status</option>
                    <option value="imported">imported</option>
                    <option value="processed">processed</option>
                </select>
                <div ng-if="widthChanged=='changed'" ng-click="saveChangedWidth()" class="btn btn-primary">Save Changes</div>
            </div>
            <div class="clearfix"></div>
            <div ui-grid="filterReportGrid" dw-loading="AllReports" dw-loading-options="{text:'Loading ...'}" id="reportGridId" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection class="grid">
                <div class="watermark" ng-show="!filterReportGrid.data.length">No data available</div>
            </div>
            <div class="nextPrev" ng-if="ReportPagination.toIndex">
                <button type="button" class="btn btn-primary btn-sm" ng-click="ReportPagination.previousPage()" title="Previous"><i class="fa fa-caret-left fa-2x"></i></button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ReportPagination.nextPage()" title="Next"><i class="fa fa-caret-right fa-2x"></i></button>
                Page {{presentpage}} Out of {{totalpages}}
                <select ng-change="ReportPagination.loadSelCountPerPage(ReportpageLimitValue)" ng-model='ReportpageLimitValue'>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                </select> items per page
                <p class="pull-right">{{ReportPagination.fromIndex}} to {{ReportPagination.toIndex}} items</p>
            </div>
        </div>
    </div>
</section>
<!-- ##################################  End Body Section  ###################################### -->
<!-- ##################################  Footer Section  ###################################### -->
<div class="footer">
    <div class="container">
        <p>Copyright © 2016 <span class="pull-right"><a href="">Disclaimer</a>|<a href="">Privacy Policy</a>|<a href="">Contact Us</a></span></p>
    </div>
</div>
<!-- ################################## End Footer Section  ###################################### -->
<!-- ###################################  POP UP Code       ######################################## -->
<!-- START POPUP Uploading New file  -->
<script type="text/ng-template" id="FileUploadModalContent.html">
    <!-- <div class="modal fade" id="uploadNew" tabindex="-1" role="dialog" aria-labelledby="uploadNewLabel">
    <div class="modal-dialog" role="document"> -->
    <div class="modal-content">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <h4 class="modal-title" id="uploadNewLabel">Please select the details</h4>
        </div>
        <div class="modal-body" dw-loading="uploadLoad" dw-loading-options="{text:'Uploading ...'}">
            <form class="form-horizontal" name="FileuploadForm" novalidate>
                <div class="form-group">
                    <label for="fileup" class="col-sm-4 control-label">Select A File</label>
                    <div class="col-sm-8">
                        <!--                            <input type="file" class="form-control" id="fileup" name="filename" file-model="fileObj.file" accept=".csv,.xlsx,.xls, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">-->
                        <input type="file" class="form-control" id="fileup" name="filename" file-model="fileObj.file" accept=".csv,.txt,.xlsx,.xls">
                        <p class="notice">Note : Please select txt,csv,xls files Only</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="select3" class="col-sm-4 control-label">Select Report type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="select3" name="reportType" ng-model="uploadObj.reportType" required>
                            <option value="">--Select--</option>
                            <option value="Combo">Combo</option>
                            <option value="Demographic">Demographic</option>
                            <option value="Dues">Dues</option>
                            <option value="Events">Events</option>
                            <option value="New Hire">New Hire</option>
                            <option value="PD Application">PD Application</option>
                            <option value="Termination">Termination</option>
                        </select>
                        <p class="help-block" ng-if="FileuploadForm.reportType.$error.required">ReportType is required</p>
                    </div>
                </div>
                <div class="form-group" ng-if="uploadObj.reportType!='PD Application'">
                    <label for="select2" class="col-sm-4 control-label">Facility Name</label>
                    <div class="col-sm-8">
                        <div angucomplete-alt placeholder="Facility Name" maxlength="50" pause="100" selected-object="FacilityUpload" local-data="facilityAutocompleteObj" search-fields="name" title-field="name" description-field="consituencyId" minlength="1" input-class="form-control form-control-small" match-class="highlight">
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="checkFileExt(fileObj.file.name)">
                    <label for="select5" class="col-sm-4 control-label">Delimeter</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="select5" name="delemeter" ng-model="uploadObj.fieldDelimiter" required>
                            <option value="">--Select--</option>
                            <option value=",">Comma</option>
                            <option value="/">Tab</option>
                        </select>
                        <p class="help-block" ng-if="FileuploadForm.delemeter.$error.required">Delimeter is required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="select6" class="col-sm-4 control-label">Header</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="select6" name="header" ng-model="uploadObj.headerRow" required>
                            <option value="">--Select--</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <p class="help-block" ng-if="FileuploadForm.header.$error.required">Header is required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="select4" class="col-sm-4 control-label">Select Pay Period Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="PayPeriodType" ng-model="uploadObj.PayPeriodType" ng-change="payperiodSelection(uploadObj.PayPeriodType)" required>
                            <option value="">--Select--</option>
                            <option value="calender">Calendar</option>
                            <option value="payperiodlist">List of Pay Periods</option>
                        </select>
                        <p class="help-block" ng-if="FileuploadForm.PayPeriodType.$error.required">Pay Period Type is Required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    <label for="select4" class="col-sm-4 control-label">Payment Schedule</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="select4" name="PayPeriod" ng-model="uploadObj.payPeriod" ng-change="GetPayPeriodDate()" required>
                            <option value="">--Select--</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Bi-Weekly">Bi-Weekly</option>
                            <option value="Semi-Monthly">Semi-Monthly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                        <p class="help-block" ng-if="FileuploadForm.PayPeriod.$error.required">Pay Period is Required</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}' ng-if="payperiodlistSelection">
                    <label class="col-sm-4 control-label">PayPeriod Date</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="uploadObj.reportPeriodDate" name="reportPeriodDate" ng-disabled="!uploadObj.payPeriod" required="">
                            <option value="">--Select--</option>
                            <option ng-repeat="option in payPeriodDateRange" ng-class="(option.uploaded)?'heighLight':''" value="{{option.reportPeriodFrom}},{{option.reportPeriodTo}}"> {{CustomDateConversionFilter(option.reportPeriodFrom)}} to {{CustomDateConversionFilter(option.reportPeriodTo)}}  </option>
                        </select>
                        <p></p>
                    </div>
                </div>
                <div class="row" ng-if="payperiodDateSelection">
                    <label for="select5" class="col-sm-4 control-label"></label>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <input type="text" class="form-control " uib-datepicker-popup="{{format}}" ng-model="uploadObj.reportPeriodFrom" is-open="payperiodpopupFromCalender.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="PayPeriodCalenderFromDate()" placeholder="From Date" name="reportPeriodFrom" ng-change="SetToDate()" ng-disabled="!uploadObj.payPeriod">
                            <p class="help-block" ng-if="FileuploadForm.reportPeriodFrom.$error.required">From Date is required</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <input type="text" class="form-control " uib-datepicker-popup="{{format}}" ng-model="uploadObj.reportPeriodTo" is-open="payperiodpopupToCalender.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="PayPeriodCalenderToDate()" placeholder="To Date" name="reportPeriodTo" ng-change="SetFromDate()" ng-disabled="!uploadObj.payPeriod">
                            <p class="help-block" ng-if="FileuploadForm.reportPeriodTo.$error.required"> To Date is required</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="CloselUploadModal()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="UploadFileData()"><i class="fa fa-upload"></i> Upload</button>
        </div>
    </div>
    <!-- </div>
    </div> -->
</script>
<!-- END  POPUP Uploading New file  -->
<!-- ###################################  POP UP Code       ######################################## -->
